body {
    margin: 0 auto;
}

.contain{max-width: 1750px; margin: 0 auto; position: relative;  width: 100%;}

html {
    font-family: "Poppins", system-ui, sans-serif;
    background: #ffffff;
    background-size: 224px;
}

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

* {
    /* box-sizing: border-box; */
    /* outline: 0; */
    /* border: 0; */
    /* margin: 0;
    padding: 0; */
    color: inherit;
    text-decoration: inherit;
    -webkit-user-drag: none;}