/* ! Helpers  */
.mt-0{margin-top: 0 }
.mt-1{margin-top: 10px}
.mt-2{margin-top: 20px}
.mt-3{margin-top: 40px}
.mt-4{margin-top: 100px!important }
.pt-hero{padding-top: 13.5rem;}

.mb-0{margin-bottom: 0}
.mb-1{margin-bottom: 10px}
.mb-2{margin-bottom: 20px}
.mb-3{margin-bottom: 3.2rem}
.mb-4{margin-bottom: 100px}
.mb-6r{margin-bottom: 6.5rem;}

.p-0{padding: 0}
.p-1{padding: 10px}
.p-2{padding: 20px}
.p-3{padding: 40px}
.p-4{padding: 100px}

.pt-1{padding-top: 10px;}
.pt-3{padding-top: 20px;}
.pt-3{padding-top: 40px;}
.pt-4{padding-top: 15vh;}

.pb-1{padding-bottom: 10px;}
.pb-2{padding-bottom: 20px;}
.pb-3{padding-bottom: 40px;}
.pb-4{padding-bottom: 15vh;}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.img-res { width: 100%; height: auto; margin-bottom: 20px;vertical-align: middle;}


.button { 
  font-size: 1rem; background: #FFD100; color:#fff;
  text-decoration: none;padding: 8px 34px; display: inline-block;
  border-radius: 18px; font-weight: 400;
}

.button__hero5{  font-size: 1rem; background: #002169; color:#fff;
  text-decoration: none;padding: 10px 34px; display: inline-block;
  border-radius: 18px; font-weight: 500; text-transform: uppercase; font-size: 1.1rem;}

.button:hover{ background: #002169; transition: all 0.3s cubic-bezier(.215, .61, .355, 1); }
/* .button__hero5:hover{ background: #FFD100; transition: all 0.3s cubic-bezier(.215, .61, .355, 1); } */
.button__hero5:hover {
transform: scale(1.1);
  transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}
.hero5b .button__hero5:hover{ transform: scale(1.1); transition: all 0.2s cubic-bezier(.215, .61, .355, 1); background-color: #002169;}


/* ! Grid System */
.grid { margin: 0 auto;  display: flex; flex-flow: row; flex-wrap: wrap; position: relative;; max-width: 1850px;}
.grid--hero { margin: 0 auto;  display: flex; flex-flow: row; flex-wrap: wrap; position: relative; ; max-width: 1850px;}
.grid--center{justify-content: center; flex-wrap: wrap; max-width: 1850px;}
.grid--card{width: calc(100% - 11rem); margin: 0 auto; flex-wrap: wrap; max-width: 1850px; margin-bottom: 1.5rem; margin-left: 5.5rem; margin-right: 5.5rem;;}

.grid--hero6{display: flex; width: 75%; margin-left:15%; margin-bottom: 4rem; flex-wrap: wrap; max-width: 1850px; }
.grid--hero6b{display: flex; width: 80%; margin-left: 15%; ; max-width: 1850px;     padding-top: 2.5rem; padding-bottom: 16rem;}
.grid--hero7{width: calc(100% - 11rem); margin: 0 auto; height: auto; margin-top: 12%; display: flex; flex-wrap: wrap; max-width: 1850px;  gap:2rem;     margin-bottom: -6rem; margin-left: 5.5rem; margin-right: 5.5rem;

}
@media (max-width: 768px) {
 .hero1c .grid--card{margin-left: 0; margin-right: 0; margin: 0 auto!important; width: 84%!important;  width: calc(100% - 11rem);}
.grid--hero6{margin: 0  auto}
}

@media (max-width: 412px) {
  .hero7-img{top: 11.5rem!important;}
}

@media ( min-width:768px) and ( max-width: 1200px) {
  .grid--hero7 h2{font-size: 2.5rem!important;}
  /* .grid--hero7{top: 2rem!important;} */

}

.grid--hero7 a{height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;}
.grid--hero7 img{position: absolute; width: 50%; height: auto;}
/* .hero7 .grid--hero7{margin-top: 0;} */
.grid--footer{width: 88%;
 ; margin: 0 auto;  display: flex; flex-flow: row; flex-wrap: wrap; position: relative;; max-width: 1850px; padding-top: 18rem;}
  .grid__b{margin: 0 auto;  display: flex; flex-flow: row; flex-wrap: wrap; position: relative; height: auto;
    padding-top: 15rem;; max-width: 1850px;}
  .gridb__hero2b{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    position: relative;
    min-height: 30vh;
    max-width: 800px;
    /* gap: 1.5rem; */
    max-width: 1850px;
    margin-left: 23.8%;
  /* margin-top: 2rem; */
column-gap:8rem;
margin-bottom: -8.5rem;}
 
.grid__hero4b{width: 48%;
  display: flex;
  position: relative;
  top: -23%;

  max-width: 1850px;
  left: 47%;
  top: -18rem; gap: 3.5rem}
.grid__hero4b2{max-width: calc(100% - 11rem) !important; margin: 0 auto; display: flex; flex-wrap: wrap; max-width: 1850px;  position: relative; top: -13rem; justify-content: space-between; margin-right: 5.5rem; margin-bottom: -11.5rem; margin-left: 5.5rem;}
.text-blue{color: #002169;}
@media (max-width: 768px) {
  .grid__hero4b2{margin: 0 auto;
    margin-top: 7rem;
    margin-bottom: -14rem;
    max-width: 89%!important;
}}


.grid__servizi-bottom{max-width: 100%; height: auto; display: flex; flex-wrap: wrap;   width: calc(100% - 11rem);;
  margin: 0 auto; padding-top: 21rem}
     
 .grid__hero1c{margin: 0 auto;  display: flex;flex-flow: row;flex-wrap: wrap;position: relative;width: 75%;margin-top: 3.5rem;margin-right: 0px; max-width: 1850px;}
 .grid--hero7 .col-40{padding-top: 4.5rem;}

      @media (max-width: 768px) {
        .grid__hero4b2{flex-wrap: wrap;}
        .grid{text-align: center;}
        .grid--footer{padding-top: 5rem;}
        .gridb__hero2b{margin: 0 auto; min-height: auto;}
        .grid__hero4b{left: 0; top: -9rem; gap: 0;}
        .grid--hero6{margin-bottom: 0;}
        .grid--hero6b{padding-bottom: 9rem;}
        .containerp{padding: 0!important; }
        .grid--hero7 .col-40{padding-top: 0}
      }
/* .col{ flex: 1;} */

/* [class*='col-'] { position: relative;padding: 0 15px;} */
.grid .grid [class*='col-'] {padding: 0px;}

.col-20{ width: 20%; }
.col-25{ width: 25%; }
.col-30{ width: 30%; }
.col-33{ width: 33.33%; }
.col-35{ width: 35%; }
.col-45{width: 45%;}
.col-40{width: 40%;}
.col-50{ width: 50%}
.col-55{width: 55%;}
.col-60{width: 60%;}
.col-65{ width: 65%; }
.col-70{ width: 70%; }
.col-80{ width: 80%; }
.col-100{ width: 100%; }

@media (max-width: 991px) {
    .tab-20 { width: 20%; }
    .tab-25 { width: 25%; }
    .tab-33 { width: 33.33%; }
    .tab-50 { width: 50%; }
    .tab-100 { width: 100%; }
}

@media (max-width: 768px) {
    [class*='col-'] { width: 100%;}
    .sma-20 { width: 20%; }
    .sma-25 { width: 25%; }
    .sma-33 { width: 33.33%; }
    .sma-50 { width: 50%; }
    .sma-100 { width: 100%; }
}


.relative{position: relative}
.absolute{position: absolute; width: 100%;}
.none{display: none;}
.zero__opacity{opacity: 0;}
.border-left{border-left: 1px solid #FFD100; }
.m-left{margin-left: 30%;}
.m2-left{margin-left: 15%;}

.scale{    position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 1px solid #FFD100;
  border-top: none;
transform: scale(0.8);
padding-top: 0!important;
padding-bottom: 45px;}

@media (max-width: 768px) {
  .scale {transform: scale(1.1);}
  .hero5b .scale{
    transform: scale(0.8)!important;}
    .hero5b .cover__wallet{margin-bottom: 2rem !important;}
}
@media (min-width: 768px) {
  .scale{min-height: 465px;
    max-height: 550px;}
}



/* hero 7 */
.hero7{ height: auto; background-color: white; max-width: 1850px; margin: 0 auto;}
.grid--hero7 h2{font-size: clamp(1.8rem, 1rem + 5vw,4rem);  font-weight: 500; padding: 4%; line-height:130%; margin-bottom: 2rem; padding-left: 0;}
.grid--hero7 p{padding-left: 4%; font-size: 1.1rem;     width: 80%; padding-left: 0;}
.container{width: 100%;
    top: -11%;
    position: absolute;}
    .hero7 .container{position: relative;
    top: -11rem; margin-bottom: -17rem;}

    .frecciaright{position: absolute; width: 40px!important; height: auto!important; bottom: 2rem;}
    @media (max-width: 768px) {
      .frecciaright{width: 2rem!important;}
      .hero7 .container {
      margin-bottom: -20rem;
                    }
    }

    

    .hero7 .cover__wallet{background-color: white; margin-bottom: -9rem;}
    .hero7 .cover__wallet h4{width: 40%;}
    .cover__wallet h4{    width: 52% !important;
      font-size: clamp(1.8rem,1rem + 5vw,4rem);
      margin-left: 7rem;
      font-weight: 500;
      margin-top: 6rem;
      line-height: 135%; margin-bottom: 2.5rem;}


  .cover__wallet p{   width: 48%;
      margin-left: 7rem;
      font-size: 1.13rem;
  margin-bottom: 6rem;}
  

  @media (max-width: 768px) {
    .cover__wallet h4{font-size: 1.5rem; width: 100%!important;};
    .cover__wallet p{font-size: 1rem;}
  }
  .button__hero5{    position: absolute;
      right: 7%;
      bottom: 6rem; cursor: pointer;}

.grid--hero7 .col-60 img{width: 43%; height: auto;
    display: flex;
    align-items: center;
    position: absolute;
    left: 64%;
    top: 52%;
    transform: translate(-50%, -50%);   
    border: 1.5px solid #FFD100;
    border-top: none;
    padding: 15%;}


/* .grid--hero7 .col-50{width: 100%;} */


    /*cover waller*/
    .cover__wallet{width: calc(100% - 11rem)!important; border-radius: 40px;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); height: auto; margin: 0 auto; overflow: hidden; margin-left: 5.5rem; margin-right: 5.5rem;}
    @media (max-width: 768px) {
      .cover__wallet{height: auto; width: 84%!important; display: flex;
        flex-flow: column; margin: 0 auto!important;
      .cover__wallet h4{font-size:2rem!important;}
      .hero5b .cover__wallet h4{font-size: clamp(1.5rem,1rem + 4vw ,2rem) !important;}

      .grid--hero7 p{padding-left: 0; width: 100%; }

      .grid--hero7 a {
        margin: 8% auto;
      height: auto;
      
      }
    }

    .fix120{height: 120%!important; margin-top: 3rem;}
    .studiotrain {padding-bottom: 2rem;}
.frecciaright{        right: 1rem;
  bottom: 50%;
}
    .hero7 .grid--hero7 p{text-align: center; margin: 0 auto; width: 100%;}
    .hero7 .grid--hero7{margin-top: -12rem!important; margin-bottom: -2rem;}
  

    }


.cover__wallet img{position: absolute; width: 100%; height: 100%; }
 /* .container .cover__wallet h4{width: 50%;
  font-size: clamp(2rem, 1rem + 2vw, 3.21rem)!important;
    margin-left: 10%;
    font-weight: 600; margin-bottom: 50px; } */
/* .cover__wallet p{   width: 50%;
    margin-left: 10%;
    font-size: 1.13rem; }
   */


    /* card */
    .card{box-shadow: 0 5px 20px rgba(0,0,0,.1);border-radius: 20px;overflow: hidden; ;
      height: 100%;width: 90%;  display: block;background-position: center center;background-size:cover}

      @media (max-width: 768px) {
        .card,
        .cover__wallet{height: auto ;}
        .cover__wallet img{width: 0;}
      }
/* .card__img img{
    display: block;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden; height: 82%;} */
    .card__img img{width: 100%;
    position: absolute;}

    .card h4{ width: 80%;
      text-align: center;

    font-size: 1.5rem;
    font-weight: 500; margin: 0;
   }

    .card p{

      
      font-weight: 400;
      font-size: 1.1rem;  text-align: center; width: 100%; line-height: 150%;}

      .cardetta{height: 100%; display: flex; flex-flow: column;}

      .containerh4{display: flex; flex-flow: column; justify-content: flex-start; padding: 3rem 4rem; padding-bottom: 3rem;  }
     
      .containerp{display: flex; flex-flow: column; height: 70%; justify-content: flex-start; padding: 4rem; width: 100%;  padding-top: 0; box-sizing: border-box;}

      @media (max-width: 768px) {
        .containerh4{ padding: 1rem 0;
        }
                    .containerp{width: 100%;}
        .cardetta{padding: 1.5rem;}
      }
      @media screen and (min-width: 768px) and (max-width: 1050px) {
        .card h4 {
          font-size: 1.5rem!important;
        }
      }

    .yellow h4,
.yellow p,
.blue h4,
.blue p{color: white;}

.grey{background-color: #D9D9D9;}
.yellow{background-color: #FFD100}
.blue{ background-color: #002169;}

.invert{filter: invert(1);}


/*ANIMATION */



.fade-in{
  opacity: 0;
  transform:translateY(2rem);
  transition-duration: 2s;
  transition-property: opacity, transform;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.text-reveal{
  --time: 0.8s;
  --delay: 3s;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0) ;
  transform: translateY(2rem);
  transition-duration: var(--time);
  transition-property: clip-path, transform;
  transition-delay: calc(var(--time) * var(--delay));
}

.text-reveal.visible{
  clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: translateY(0);
}

.fade-up{opacity: 0; transform: translateY(4rem);}




