@media (min-width: 365px) and (max-width: 600px) {
.hero5b .cover__wallet { margin-top: 15%!important;}
}

@media (min-width: 600px) and (max-width: 768px) {
    .hero5b .cover__wallet {
        margin-top: 18% !important;
    }
}

@media (min-width: 1328px) and (max-width: 1545px) {
    .hero5b .cover__wallet {
        margin-top: 15% !important;
    }
}

@media (min-width: 1545px) and (max-width: 1650px){
    .hero5b .cover__wallet {
        margin-top: 18% !important;
    }
}

@media (min-width: 1650px) {
    .hero5b .cover__wallet {
        margin-top: 20% !important;
    }
}

.l-h{line-height: 2.49rem; display: block; align-self: flex-start;}
.line-height{line-height: 0.6rem;}