---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Modena Consulenza">
<Header></Header>
<div class="hero1 relative">
    <div>
   <h2>La nostra storia <br><span style="margin-left: 10rem ">ha inizio a Modena</span></h2>
    <p>Siamo uno studio di commercialisti che <br>
        opera a livello locale e internazionale.</p>
</div>
    <img class="img-res" src="/src/assets/chisiamo1.png" alt="">
</div>

<div class="hero2b relative">

    <div class="grid__hero2b">
        <div class="col-45">
            <div>
            <h3>Modena Consulenza in numeri. Ecco i <span style="color:#FFD100; font-style: italic;">risultati</span> che abbiamo ottenuto:</h3>
        </div>
        </div>
        <div class="col-30">
            <div class="border-left">
            <h4>100%</h4>
            <p>Lorem ipsum dolor sit</p>
        </div>
        </div>
        <div class="col-25">
            <div class="border-left">
            <h4>50+</h4>
            <p>Clienti soddisfatti </p>
        </div>
    </div>
    </div>
    <div class="gridb__hero2b">
        <div class="col-40">
            <div class="border-left">
            <h4>80%</h4>
            <p>Lorem ipsum dolor sit</p>
        </div>
        </div>
        <div class="col-40">
            <div class="border-left">
            <h4>900</h4>
            <p>Lorem ipsum dolor sit</p>
        </div>
        </div>
    </div>
   <img class="hero2bleft" src="/src/assets/hero2b1.png" alt="">
   <img class="hero2bright" src="/src/assets/hero2b2.png" alt="">
</div>

<div class="hero3b relative">
    <h3>Da oltre 10 anni aiutiamo i nostri clienti a realizzare i loro progetti.</h3>
    <div class="hero3b__paragrafi">
    <p class="mb-3">Modena Consulenza nasce come team di esperti caratterizzato da competenze professionali trasversali, che gli permette di sostenere e promuove una qualità e affidabilità maggiore nei servizi offerti rispetto ad altri studi di consulenza presenti sul mercato.</p>
   <p>L’obiettivo ultimo di Modena Consulenza è lo sviluppo del cliente attraverso un portafoglio di servizi a lui dedicati per la realizzazione dei propri progetti.</p>
</div>
    <a href="" class="button">Contattaci</a>
</div>

<div class="hero4b relative">
<div class="grid__hero4b">
    <div class="col-50">
    <div class="piastrina piastrina-left">
        <img src="/src/assets/hero4b-left.png" alt="">
        <h4>Luca Prati</h4>
        <p>Commercialista - consulente 
            tecnico d’ufficio presso il 
            tribunale di modena</p>
    </div>
    </div>
    <div class="col-50">
        <div class="piastrina piastrina-right">
            <img src="/src/assets/hero4b-right.png" alt="">
            <h4>Marco Natalini</h4>
            <p>Commercialista - consulente 
                tecnico d’ufficio presso il 
                tribunale di modena - revisore 
                contabile </p>
        </div>
        </div>
</div>

<div class="grid__hero4b2">

    <div class="col-25">
        <div class="piastrina">
            <img src="/src/assets/hero4b-left.png" alt="">
            <h4>Luca Prati</h4>
            <p>Commercialista</p>
        </div>
    </div>
    <div class="col-25">
        <div class="piastrina">
            <img src="/src/assets/hero4b-right.png" alt="">
            <h4>Luca Prati</h4>
            <p>Commercialista</p>
        </div>
    </div>
    <div class="col-25">
        <div class="piastrina">
            <img src="/src/assets/hero4b-left.png" alt="">
            <h4>Luca Prati</h4>
            <p>Commercialista</p>
        </div>
    </div>
    <div class="col-25">
        <div class="piastrina">
            <img src="/src/assets/hero4b-right.png" alt="">
            <h4>Luca Prati</h4>
            <p>Commercialista </p>
        </div>
    </div>
    
</div>
<img class="hero4b2-bottom" src="/src/assets/hero4b2-bottom.png" alt="">

</div>

<div class="hero5b relative">
    <div class="grid--hero7 relative">
        <div class="col-40 relative">
            <h2>Scopri le nostre
                <span style="color:#002169; font-style: italic;">Partnership</span></h2>
            <p>La nostra collaborazione con Studio Train, specializzato in controllo di gestione, ci permette di offrire servizi ancora più performanti. La partnership mira a potenziare l'efficacia della gestione aziendale, attraverso un monitoraggio delle performance più dettagliato e una strategia ottimizzata.</p>
        </div>
        <div class="col-60 relative">
         <img src="/src/assets/studiotrain.png" alt="">
        </div>
    </div>
          

          <div class="container">
            <div class="cover__wallet relative ">
                <img src="/src/assets/hero5-img.png" alt="">
                <h4>Cerchi un servizio di gestione chiaro e trasparente?</h4>
                <p>Modena Consulenza è qui per offrirti il supporto su misura di cui hai bisogno per la tua gestione aziendale. </p>
            <a href="" class="button__hero5">CONTATTACI</a>
            </div>
        </div>
  
      </div>

<Footer></Footer>
</Layout>

<style>
.hero1{height: auto; width: 100%; max-width: 1850px; margin: 0 auto; }
.hero1 img{width: 92%; height: auto; border-radius: 30px; position: relative; left: -30px; bottom: -5rem; z-index: 100}
.hero1 h2{     font-size: clamp(1.8rem, 1rem + 5vw, 5.5rem)!important; font-weight: 500; margin-left: 100px; margin-top: 0; padding-top: 17rem;}
.hero1 h3{margin-left: 22rem;     font-size: clamp(1.8rem, 1rem + 5vw, 5.5rem)!important;  font-weight: 500; margin-top: -100px;}
.hero1 p{        position: absolute;
    width: 33%;
    right: 0.1rem;
    top: 12.5rem;
    font-weight: 400;
    font-size: clamp(1rem,0.1rem + 3vw,1.5rem);}

.hero2b{height: 100%;  background-color: #002169; padding-bottom: 20%;}
.hero2b h3{width: 70%;  color: white; font-size: 2.3rem; font-weight: 500; padding-left: 15%}
.grid__hero2b h4,
.gridb__hero2b h4{font-size:clamp(1.5rem, 1rem + 5vw,6.5rem); color: white; font-weight: 500; margin-top: 15%; padding-left: 5%; margin-bottom: 0; }
.grid__hero2b p,
.gridb__hero2b p{color:white; margin-top: 0; padding-left: 7%; font-size:  1.3rem; font-weight: 500;}
.hero2bleft{width: 34%; position: absolute; bottom: -20%;z-index: 10; left: 6.5%;}
.hero2bright{width: 50.5%; position: absolute; bottom: -20%;z-index: 10; right: 5%;}
.hero3b{height: auto;
    margin-bottom: 19rem;}
.hero3b h3{line-height:50px; font-weight: 500; width: 50%; margin-left: 6.5%; padding-top: 20%; font-size: 2.8rem;}
.hero3b__paragrafi{width: 40%; font-size: 1.1rem; margin-top: 10%; margin-left: 52%;}
.hero3b a{text-transform: uppercase; font-size: 1.13rem; font-weight: 500; position: absolute; top: 65%; left:  23%}


.hero4b{height: auto; background-color: #002169;  width: 100%; }
.piastrina p{width: 80%; font-size: 1.4rem; color: white; font-weight: 300; text-transform: uppercase; width: 100%;}
.piastrina h4{font-size: 1.5rem; color: white; margin-bottom: 0;}

.piastrina{transform: scale(0.85); text-align: center; }
.piastrina img{max-width: 100%;}


.hero4b2-bottom { width: 85%; z-index: 10; position: relative; top: 5rem; left: 50%; transform: translateX(-50%);}
.hero4b2-bottom img{}
.hero5b{height: 108vh;}

.hero5b .cover__wallet{  background-color: #FFD100}
.hero5b .container{top:70%; z-index: 10;}
.hero5b .container h4{width: 70%; color: white;}
.hero5b .container p{color: white; }
.hero5b a{position: absolute; right: 11%; bottom: 20%;}


@media only screen and (max-width: 768px) {
  .hero1 h2 { font-size: 2.3rem; margin:0 auto; margin-top: 70px; padding-top: 100px;  text-align: center;}
  .hero1 h3 { font-size: 2.3rem; margin: 0 auto; margin-top: 0px; text-align: center; }
  .hero1 p {  font-size: 0.9rem; text-align: center;   width: 100%;top: 45%; font-weight: 400; position: static;}
.hero1{height: auto;}
  .hero1 img { width: 80%;top: 85%; left: 50%; transform: translateX(-50%)}

  .hero2b{height: 100%;}
.hero2b h3{    width: 80%;font-size: 1.4rem; text-align: center; margin: 0 auto; padding-left:0}
  .gridb__hero2b{margin: 0; }
  .grid__hero4b{ width: 100%; right: 0;}
  .grid__hero4b2{max-width: 100%;}
  .grid--hero7{max-width: 0; margin: 0;}
  .grid__hero2b{padding-top: 35%; width: 80%; height: auto; margin: 0 auto}
  .grid__hero2b h4,
  .gridb__hero2b h4{font-size: 2rem; }
  .grid__hero2b p,
  .gridb__hero2b p{font-size: 1rem;}
  .gridb__hero2b {width: 100%; gap: 0;}

  .grid__hero2b .col-30,
  .grid__hero2b .col-25,
  .gridb__hero2b .col-40{width: 50%;}
  .gridb__hero2b{padding-top: 0; width: 80%; margin: 0  auto;}
  .grid__hero2b,
  .gridb__hero2b{text-align: center;}

  .grid__hero2b .col-30,
  .grid__hero2b .col-25{padding-top: 40px;}

  .grid__hero2b p,
  .grid__hero2b p{font-size: 0.6rem;}
  


  .hero2bleft,
  .hero2bright{bottom: -8%;}
  .hero3b{height: 100%; margin-bottom: 50%;}
  .hero3b h3 {line-height: 30px; width: 80%;margin: 0 auto;padding-top: 28%; font-size: 1.8rem; text-align: center;}
.hero4b{height: 100%;}
  .hero3b__paragrafi { width: 80%; font-size: 1rem; margin-top: 12% !important;margin: 0 auto;text-align: center;}

  .hero3b a{     font-size: 1rem;left: 50%;text-align: center;margin-left: 50%;transform: translateX(-50%); position: static;}


  .grid__hero4b {width: 100%;;
    flex-wrap: wrap;}

    .piastrina{ width: 80%;
    margin: 0 auto;}

    .piastrina h4{font-size: 1rem;}
    .piastrina p{font-size: 0.8rem}
/* 
    .piastrina-left {
    transform: scale(0.35);width: 100%;position: absolute;left: -23%;}

    .piastrina-right { transform: scale(0.35); width: 100%; position: absolute;left: 23%; } */
    
    .grid__hero4b .col-50 {width: 50%!important;}
    .grid__hero4b2{ max-width: 100%; }



    .grid__hero4b2 .col-25 {
    width: 50% !important; height: auto}

    .grid__hero4b2 img{width: 100%;}

    .grid--hero7{margin-top: 25%; max-width: 100%; width: 100%;}
    .grid--hero7 h2{font-size: 2rem; text-align: center; line-height: 140%; }
    .grid--hero7 p{text-align: center; margin: 0 auto; width: 90%;}

    .grid--hero7 .col-60 img {
    position: static;
    left: 0;
    transform: translate(0);
    margin: 0 auto;
    margin-top: 10%;
} 




.hero5b{height: auto;
    margin-bottom: 25%; text-align: center;}

    .hero5b .container{position: static; margin-top: 45%;}
.hero5b .container h4{ width: 100%;text-align: center;font-size: 1.6rem;
     margin-left: 0; margin-bottom: 0; }
     .hero5b a{position: static; margin: 15% auto;}

     .hero5b .container p{margin:0 auto; width: 90%; text-align: center;  font-size:  1rem; margin-top: 5%; }
.cover__wallet{ height: auto;}

.hero1 span  {
        margin-left: 0!important; /* Rimuove il margine aggiunto */

    }

}



</style>


   