---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Modena Consulenza" page="contatti">
    <div class="hero1d relative">
        <div class="grid--hero1d">
            <div class="herocontatti-contenuto-left col-50">
                <h2>
                    Contattaci ora, siamo a tua
                    <span style="color:#FFD100; font-style: italic;"
                        >disposizione</span
                    >!
                </h2>
                <p>
                    Richiedi senza impegno una consulenza gratuita per la tua
                    impresa.
                </p>
                <a href="" class="button">CONTATTACI</a>
            </div>
            <div class="hero1d-image col-50"></div>
        </div>
        <div class="img-container">
            <img src="/assets/hero1d.png" alt="" />
        </div>
    </div>

    <div class="hero__form">
        <div class="grid-form">
            <div class="col-40">
                <h3>Compila il form con la tua richiesta</h3>
            </div>
            <div class="col-60">
                <form class="contact-form">
                    <div class="form-grid">
                        <div class="form-group">
                            <input type="text" id="nome" name="nome" required />
                            <label for="nome">Nome*</label>
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                id="cognome"
                                name="cognome"
                                required
                            />
                            <label for="cognome">Cognome*</label>
                        </div>
                        <div class="form-group">
                            <input
                                type="tel"
                                id="telefono"
                                name="telefono"
                                required
                            />
                            <label for="telefono">Telefono*</label>
                        </div>
                        <div class="form-group">
                            <input
                                type="email"
                                id="email"
                                name="email"
                                required
                            />
                            <label for="email">Email*</label>
                        </div>
                        <div class="form-group big-message">
                            <textarea
                                id="messaggio"
                                name="messaggio"
                                rows="4"
                                required></textarea>
                            <label for="messaggio">Messaggio*</label>
                        </div>
                    </div>
                    <button class="button" type="submit">INVIA</button>
                </form>
            </div>
        </div>
    </div>

    <div class="hero__contatti">
        <div class="grid">
            <div class="col-50">
                <h4>Contatti</h4>
            </div>
            <div class="col-25">
                <p>+39 (0) 59 220522</p>
                <p>+39(0) 59 210161</p>
                <p>+39 (0) 59 4396905</p>
                <p>+39 (0)59 211132</p>
                <p>info@modenaconsulenza.it</p>
            </div>
            <div class="col-25">
                <p>Via Bellini, 70/2</p>
                <p>41121 - Modena (MO)</p>
                <p class="zero__opacity">rooc</p>
                <p>Lun - Ven:</p>
                <p>8.30 - 12.00/ 14.00 - 18.30</p>
            </div>
        </div>
    </div>
</Layout>

<style>
    .img-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 105%;
        width: 41vw;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
    }
    .img-container img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .hero1d {
        background-color: #002169;
        min-height: fit-content;
        height: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-bottom: 3rem;
    }
    .container {
        display: flex;
        height: 100%;
        align-items: center;
    }
    .grid--hero1d {
        max-width: 1850px;
        margin: 0 auto;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .col-50 {
        width: 50%;
        position: relative;
    }
    .herocontatti-contenuto-left {
        display: flex;
        flex-direction: column;
        gap: 4.2rem;
        padding-left: 5.5rem;
        padding-top: 11.5rem;
    }
    .hero1d-image {
        width: 50%;
    }
    .hero1d-image img {
        width: 100%;
        max-height: 60rem;
        object-fit: cover;
        height: 100%;
        border-radius: 30px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        position: relative;
        top: 3rem;
    }
    .herocontatti-contenuto-left a {
        width: 7rem;
        font-size: 1.13rem;
        text-align: center;
        padding: 10px 34px;
    }
    .herocontatti-contenuto-left h2,
    .herocontatti-contenuto-left p {
        color: white;
    }
    .herocontatti-contenuto-left h2 {
        font-size: clamp(2rem, 1rem + 5vw, 5.5rem);
        font-weight: 500;
        line-height: 100%;
        margin-bottom: 0;
    }
    .herocontatti-contenuto-left p {
        width: 55%;
        font-size: 1.1rem;
        font-weight: 400;
    }
    .herocontatti-contenuto-left a:hover {
        transform: scale(1.2);
        background-color: #ffd100;
    }
    .hero__form {
        height: auto;
        padding-bottom: 4rem;
    }
    .hero__contatti {
        background-color: #edeef0;
        padding-bottom: 5.5rem;
    }
    .hero__contatti .grid p {
        font-weight: 400;
        font-size: 1.13rem;
        line-height: 14px;
    }
    .hero__contatti .grid h4 {
        font-size: 3.5rem;
        font-weight: 500;
        margin-left: 100px;
    }
    .hero__contatti .col-25 {
        margin-top: 200px;
    }
    .grid-form {
        display: flex;
        margin: 0 auto;
        margin-top: 9.5rem;
        max-width: 1850px;
        gap: 4rem;
    }
    .grid-form .col-40 {
        display: flex;
        justify-content: center;
        width: 44%;
    }
    .grid-form .col-40 h3 {
        font-size: clamp(1.8rem, 1rem + 5vw, 3.3rem);
        margin-top: 0;
        font-weight: 500;
        width: 110%;
        line-height: 120%;
        padding-left: 5.5rem;
    }

    .big-message {
        flex-grow: 1;
    }

    form {
        text-align: center;
        max-width: 100%;
    }
    .form-group {
        width: 20rem;
        position: relative;
    }
    .form-group input,
    .form-group textarea {
        width: 88%;
        padding: 23px;
        border: 1px solid #a4b5db;
        border-radius: 8px;
        font-size: 1rem;
    }

    .form-group label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        background-color: white;
        padding: 0 5px;
        color: #002169;
        transition: all 0.3s ease;
        opacity: 1; /* Imposta l'opacità di default a 1 */
    }

    .form-group input:focus + label,
    .form-group textarea:focus + label {
        opacity: 0; /* Imposta l'opacità a 0 quando l'input ha il focus */
    }
    .form-group input:focus + label,
    .form-group textarea:focus + label,
    .form-group input:not(:placeholder-shown) + label,
    .form-group textarea:not(:placeholder-shown) + label {
        left: 1rem;

        background-color: white;
        padding: 0 5px;
        color: black;
    }

    .button {
        width: 50%;
        background-color: #ffd100;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    .button:hover {
        transform: scale(1.3rem);
        transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .grid-form .button {
        background-color: #002169;
        width: 100%;
        padding: 18px 34px;
        margin-top: 2rem;
        font-weight: 600;
        font-size: 1.1rem;
    }
    .grid-form .button:hover {
        background-color: #ffd100;
    }
    textarea .label {
        top: 24%;
    }
    @media (max-width: 768px) {
        .hero1d {
            flex-wrap: wrap;
        }
        .img-container {
            position: relative;
        }
        .grid--hero1d {
            display: flex;
            flex-wrap: wrap;
        }
        .herocontatti-contenuto-left {
            padding: 0;
            width: 90%;
            margin: 0 auto;
            padding-top: 28%;
            gap: 0;
        }
        .hero__contatti .grid h4 {
            margin-left: 0;
        }
        .hero__contatti .col-25 {
            margin-top: 0;
        }
        .hero__contatti .col-50 {
            width: 100%;
        }
        .herocontatti-contenuto-left h2 {
            font-size: 2rem;
            line-height: 130%;
            text-align: center;
        }
        .herocontatti-contenuto-left p {
            text-align: center;
            margin: 10% auto;
        }
        .herocontatti-contenuto-left a {
            margin: 10% auto;
            width: auto;
            margin-top: 0;
        }
        .hero1d-image img {
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }
        .grid-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .col-40,
        .col-60 {
            width: 100%;
        }
    }
    .form-grid {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .grid-form a {
        margin-left: 50%;
    }
    .grid-form .col-60 {
        width: 50%;
    }
    .big-message label {
        top: 25%;
    }
    @media (max-width: 768px) {
        .grid-form {
            display: flex;
            flex-direction: column;
            margin-top: 5rem;
        }

        .grid-form .col-40 {
            padding-left: 0;
        }
        .col-40,
        .col-60 {
            width: 100%;
        }
        .grid-form .col-40 {
            width: 100%;
        }

        .grid-form .col-40 h3 {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 1rem;
            padding-left: 0;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const inputs = document.querySelectorAll(
            ".form-group input, .form-group textarea",
        );

        inputs.forEach((input) => {
            input.addEventListener("input", function () {
                const label = this.nextElementSibling; // Ottieni l'elemento successivo, che è l'etichetta

                if (this.value.trim() !== "") {
                    // Verifica se l'input ha del testo
                    label.style.opacity = "0"; // Nascondi l'etichetta
                } else {
                    label.style.opacity = "1"; // Mostra l'etichetta
                }
            });
        });
    });

    const form = document.querySelector<HTMLFormElement>(".contact-form");

    if (form) {
        form.onsubmit = (e) => {
            console.log("form submit");
            form.querySelector<HTMLInputElement>("[type=submit]").disabled =
                true;

            const formData = new FormData(e.target as HTMLFormElement);

            formData.append("senderName", "Modena Consulenza");
            formData.append("senderEmail", "info@modenaconsulenza.it");
            formData.append("to", "giuliobarchi1@gmail.com");

            fetch("https://giuliobarkee.pages.dev/api/form", {
                method: "POST",
                body: formData,
            })
                .then(() => {
                    form.reset();
                    form.classList.add("success");
                    form.querySelector<HTMLInputElement>(
                        "[type=submit]",
                    ).disabled = false;
                })
                .catch(() => {
                    form.reset();
                    form.classList.add("error");
                });
            return false;
        };
    }
</script>
