---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Modena Consulenza">
    <div class="hero pt-hero">
        <div class="grid--hero">
            <div class="col-65">
                <div class="contenuto-left">
                    <h2>
                        Aiutiamo le <br />
                        <span style="color:#FFD100; font-style: italic;"
                            >imprese</span
                        > a navigare in
                        <span style="font-style: italic;">buone acque</span>
                    </h2>
                    <p>
                        Modena Consulenza è uno studio di commercialisti con
                        esperienza <br /> decennale in analisi finanziaria e controllo
                        di gestione per l’impresa.
                    </p>
                </div>
            </div>
            <div class="col-35">
                <img src="/assets/hero-img.png" alt="" />
            </div>
        </div>

        <a href="#hero2" class="frecciadown">
            <img src="/assets/frecciadown.png" alt="" />
        </a>
    </div>

    <div class="hero2" id="hero2">
        <div class="grid">
            <div class="col-50 col-left mt-tresei">
                <h2 class="hero2-servizi">
                    Scopri i <span style="color:#FFD100; font-style: italic;"
                        >servizi</span
                    > di Modena Consulenza
                </h2>
            </div>
            <div class="col-50"></div>
        </div>
    </div>

    <div class="hero3">
        <div class="grid">
            <div class="col-35"></div>
            <div class="col-60 obiettivo">
                <p>
                    Il nostro obiettivo è soddisfare la domanda di servizi su
                    misura, colmando il gap tra offerte generiche e necessità
                    specifiche da parte dei clienti. Individuiamo e sviluppiamo
                    le potenzialità uniche di ogni azienda, garantendo
                    consulenze personalizzate e strategiche.
                </p>
            </div>
        </div>
    </div>

    <div class="hero4">
        <div class="grid grid--card">
            <div class="col-33">
                <div class="card grey relative">
                    <div class="cardetta">
                        <div class="card__img">
                            <img src="/assets/01.png" alt="" />
                        </div>
                        <div class="containerh4">
                            <h4>Controllo <br /> di gestione</h4>
                        </div>
                        <div class="containerp">
                            <p>
                                Guidiamo le imprese nell'adozione di budget e
                                rendiconti finanziari al fine di migliorare
                                competitività ed efficienza nel mercato attuale.
                            </p>
                            <img src="" alt="" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-33">
                <div class="card yellow relative">
                    <div class="cardetta">
                        <div class="card__img">
                            <img src="/assets/02.png" alt="" />
                        </div>
                        <div class="containerh4">
                            <h4>Pianificazione fiscale</h4>
                        </div>
                        <div class="containerp">
                            <p>
                                Ottimizziamo la struttura fiscale e finanziaria
                                per minimizzare legalmente il carico fiscale
                                delle imprese, garantendo risparmio e conformità
                                normativa.
                            </p>
                            <img src="" alt="" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-33">
                <div class="card blue relative">
                    <div class="cardetta">
                        <div class="card__img">
                            <img src="/assets/03.png" alt="" />
                        </div>
                        <div class="containerh4">
                            <h4>Transactions <br /> (M&A)</h4>
                        </div>
                        <div class="containerp">
                            <p>
                                Supportiamo le imprese in acquisizioni e
                                cessioni, offrendo analisi e strategie pensate
                                per ottimizzare i benefici e minimizzare i
                                rischi.
                            </p>
                            <img src="" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hero5">
        <div class="cover__wallet relative mb-6r">
            <img src="/assets/hero5-img.png" alt="" />
            <h4>Il servizio <br /> Easy Wallet</h4>
            <p>
                È il controllo di gestione per liberi professionisti che
                comprende la stesura del budget economico finanziario e la
                verifica a consuntivo.
            </p>
            <a href="" class="button__hero5">Approfondisci</a>
        </div>
    </div>

    <div class="hero6 relative blue">
        <img src="/assets/hero6-img.png" alt="" />
        <div class="grid--hero6">
            <div class="col-80">
                <h2>
                    La consulenza fatta a misura <span
                        style="color:#FFD100; font-style: italic;">d'uomo</span
                    >
                </h2>
            </div>
            <div class="col-20">
                <a href="" class="button">SCOPRI DI PIU'</a>
            </div>
        </div>

        <div class="grid--hero6b">
            <div class="col-60">
                <h4>
                    Persone prima che imprese. Ecco perchè crediamo nella
                    personalizzazione di servizio.
                </h4>
            </div>
            <div class="col-40">
                <p>
                    Mettere le persone al centro significa valorizzare l'unicità
                    di ogni realtà imprenditoriale. Da anni combiniamo la
                    flessibilità della personalizzazione alla competenza
                    specifica, acquisita attraverso la gestione di gruppi
                    aziendali maggiori, per offrire il migliore servizio di
                    consulenza possibile.
                </p>
                <p>
                    Scopri come ottimizzare la gestione della tua azienda
                    attraverso un portafoglio di servizi a te dedicati.
                </p>
            </div>
        </div>
    </div>

    <div class="hero7 relative">
        <div class="container">
            <div class="cover__wallet relative">
                <img src="/assets/hero5-img.png" alt="" />
                <h4>Cerchi un servizio adatto a PMI?</h4>
                <p>
                    Il servizio Easy Wallet ti semplifica il Controllo di
                    gestione offrendoti stesura del budget economico finanziario
                    e verifica a consuntivo.
                </p>
                <a href="" class="button__hero5">SCOPRI DI PIU'</a>
            </div>
        </div>
        <div class="grid--hero7 relative">
            <div class="col-40 relative">
                <div class="">
                    <h2>
                        Scopri le nostre
                        <span style="color:#002169; font-style: italic;"
                            >Partnership</span
                        >
                    </h2>
                    <p>
                        La nostra collaborazione con Studio Train, specializzato
                        in controllo di gestione, ci permette di offrire servizi
                        ancora più performanti. La partnership mira a potenziare
                        l'efficacia della gestione aziendale, attraverso un
                        monitoraggio delle performance più dettagliato e una
                        strategia ottimizzata.
                    </p>
                </div>
            </div>
            <div class="col-60 relative">
                <div class="scale pt-3">
                    <a href=""><img src="/assets/studiotrain.png" alt="" /> </a>
                </div>
                
            </div>
           
        </div>

        <img class="hero7-img" src="/assets/hero7-img.png" alt="" />
    </div>
</Layout>

<style is:global>
    .hero {
        background-color: #002169;
        position: relative;
    }
    .space {
        height: 5vh;
    }
    .contenuto-left {
        padding-left: 5.5rem;
        padding-right: 2.5rem;
    }
    .col-35 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contenuto-left h2 {
        font-weight: 450;
        font-size: clamp(2rem, 1rem + 5vw, 5rem);
        line-height: 112%;
        color: #fff;
        margin-top: 3.2rem;
        margin-bottom: 3.4rem;
    }
    .contenuto-left p {
        color: white;
        font-weight: 400;
        font-size: 1.13rem;
        line-height: 150%;
        padding-bottom: 12rem;
    }

    .frecciadown {
        position: absolute;
        bottom: 3%;
        right: 48%;
    }

    .frecciaright{position: absolute; width: 20px; height: 20px;}

    .hero2 {
        background-color: white;
        height: auto;
    }
    .hero2 .col-left {
        position: relative;
    }
    .grid .col-50 {
        height: 100%;
    }
    .hero2-servizi {
        padding-left: 5.5rem;
        font-size: clamp(1.8rem, 1rem + 5vw, 3.9rem);
        font-weight: 500;
        width: 60%;
        line-height: 135%;
        padding-top: 5rem;
    }

    .hero3 {
        height: auto;
        width: 100%;
        background-color: white;
    }
    .col-60 p {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 150%;
        margin-left: 12%;
        padding-top: 2rem;
    }
    .hero4 {
        background-color: white;
    }
    .hero4 .card h4 {
        text-align: left;
        font-size: clamp(1.8rem, 0.2rem + 2vw, 2rem);
    }
    .hero4 .card p {
        text-align: left;
    }
    .hero6 .button {
        font-weight: 500;
        border-radius: 15px;
        position: relative;
        left: 4rem;
        transform: scale(1.05);
        padding: 10px 34px;
    }

    @media (max-width: 768px) {
        .contenuto-left p {
            padding-bottom: 0;
        }
        .hero4 .card h4 {
            text-align: center;
            padding-bottom: 0;
            margin: 0 auto;
        }
        .hero4 .card p {
            text-align: center;
        }
        .grid--hero6 .col-20 {
            align-items: center !important;
            justify-content: center !important;
        }
        .hero .col-35 {
            height: 20rem;
        }
        .frecciadown {
            display: none;
        }
    }

    .hero5 {
        height: auto;
        background-color: white;
        padding-top: 80px;
        padding-bottom: 15rem;
    }

    @media (max-width: 768px) {
        .hero5 {
            padding-bottom: 8rem;
            padding-top: 3rem;
        }
        .hero2-servizi {
            padding-top: 8rem;
        }
    }
    .hero5 .cover__wallet {
        margin-bottom: 6rem;
    }
    .cover__wallet {
        width: 88%;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        min-height: 450px;
        margin: 0 auto;
        overflow: hidden;
        height: auto;
    }
    .cover__wallet img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .hero6 {
        min-height: 130vh;
    }
    .hero6 img {
        position: absolute;
        right: 0;
        top: -200px;
        width: 65%;
        height: auto;
        max-height: 600px;
        object-fit: cover;
    }

    .col-80,
    .col-20,
    .col-60,
    .col-40 {
        z-index: 10;
    }
    .grid--hero6 .col-80 {
        padding-top: 2%;
    }
    .grid--hero6 .col-20 {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        margin-bottom: 8%;
    }

    .grid--hero6 h2 {
        font-size: clamp(1.8rem, 1rem + 5vw, 5.5rem);
        line-height: 1;
        color: white;
        font-weight: 500;
        text-align: left;
    }

    .grid--hero6b .col-60 h4 {
        color: white;
        font-size: clamp(1.6rem, 1rem + 5vw, 2.6rem);
        font-weight: 400;
        padding-right: 7%;
        margin-top: 0;
    }
    .grid--hero6b .col-40 p {
        color: white;
        margin-bottom: 4rem;
        line-height: 150%;
        font-weight: 350;
        font-size: 1.1rem;
    }
    .grid--card {
        margin-top: 5rem;
    }
    .hero7-img {
        width: 87%;
        margin: 0 auto;
        display: flex;
        position: relative;
        top: 12rem;
        z-index: 2;
    }
    .hero7 .grid--hero7 {
        height: 100%;
        margin-top: -7rem;
        margin-bottom: -4rem;
    }
    @media (max-width: 768px) {
        .hero7 .grid--hero7 {
            padding-top: 1rem;
            display: inline;
            top: -10rem;
        }
        .hero7 .grid--hero7 p {
            text-align: center;
        }
        .contenuto-left {
            width: 90%;
            margin: 0 auto;
            padding: 0;
        }
        .contenuto-left h2 {
            font-size: 2rem;
            line-height: 130%;
            text-align: center;
        }
        .contenuto-left p {
            text-align: center;
        }
        .pt-hero {
            padding-top: 13.5rem;
        }
        .hero2-servizi {
            font-size: 3rem;
            padding-left: 0;
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }
        .hero3 .col-60 p {
            margin: 0 auto;
            font-size: 1rem;
            width: 80%;
        }
        .cover__wallet {
            text-align: center;
            padding-bottom: 2rem;
        }
        .cover__wallet h4 {
            width: 80% !important;
            margin: 10% auto;
            text-align: center;
        }
        .cover__wallet p {
            width: 80%;
            margin: 5% auto;
            text-align: center;
        }
        .cover__wallet a {
            position: static;
            margin: auto;
        }
        .grid--hero6b {
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
        }
        .grid--hero6b h4,
        .grid--hero6b p {
            text-align: center;
            margin: 5% auto;
        }
        .grid--hero6b .col-60 h4 {
            padding-right: 0;
            font-size: 1.7rem;
        }
        .grid--hero6b .col-40 {
            margin: 0 auto;
            width: 80%;
        }
        .col-35 img {
            height: 90%;
            padding-top: 6rem;
        }
        .grid--hero6 h2 {
            text-align: center;
        }
        .hero6 img {
            top: -10rem;
            left: 50%;
            transform: translateX(-50%);
        }

        /* .hero7 .grid--hero7 h2{padding-top: 23.5rem!important;} */
        .grid--hero7 h2 {
            line-height: 130%;
            text-align: center;
        }
        .grid--hero7 .col-60 img {
            margin: 0 auto;
            transform: translate(0);
            position: static;
            margin-top: 9%;
        }
        .hero7 .grid--hero7 .col-60 img {
            margin: 0 auto;
            transform: translate(0);
            position: static;
            margin-top: 0;
        }
        .hero7 {
            min-height: 175vh;
            height: auto;
            margin-bottom: 2rem;
        }
        .hero5b .grid--hero7 {
            margin-top: 11% !important;
        }

        .hero7-img {
            width: 87%;
            border-radius: 20px;
            display: flex;
            align-items: center;
            z-index: 50;
            margin: 0 auto;
            max-width: 1850px;
            position: relative;
            bottom: 0;
            margin-top: -21rem;
            margin-bottom: 6rem;
        }

        /* .cover__wallet {
    display: flex;
    align-items: center;
} */

        /* .cover__wallet img {
    max-width: 100%;
    margin-right: 20px;
} */

        .cover__text {
            flex: 1;
        }

        .grid--hero7 {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .col-50 {
            width: 100%;
        }

        .grid--hero7 .col-40,
        .grid--hero7 .col-60 {
            width: 90%;
            margin: 0 auto;
        }
    }

    @media (min-width: 768px) {
        .grid--hero7 {
            grid-template-columns: repeat(2, 1fr);
        }

        .col-50 {
            width: auto;
        }
    }
</style>

<script>
    // Seleziona l'elemento con classe "frecciadown"
    const frecciaDown = document.querySelector(".frecciadown");

    // Aggiungi un gestore di eventi per l'evento di clic
    frecciaDown.addEventListener("click", function (event) {
        // Impedisci il comportamento predefinito dell'ancora (scorrimento istantaneo)
        event.preventDefault();

        // Ottieni l'elemento di destinazione (hero2)
        const hero2 = document.getElementById("hero2");

        // Calcola la posizione dell'elemento di destinazione rispetto alla finestra visualizzata
        const offsetTop = hero2.offsetTop;

        // Effettua lo scorrimento della pagina in modo animato utilizzando il metodo scrollIntoView()
        window.scroll({
            top: offsetTop,
            behavior: "smooth", // Aggiungi l'effetto di animazione
        });
    });
</script>
