---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Modena Consulenza">
    <Header></Header>
    <div class="hero pt-hero">
    <div class="grid--hero ">
        <div class="col-65">
            <div class="contenuto-left">
                <h2>Aiutiamo le <br> <span style="color:#FFD100; font-style: italic;">imprese</span> a navigare 
                    in buone acque</h2>
            <p>Modena Consulenza è uno studio di commercialisti con esperienza <br/> decennale in analisi finanziaria e controllo di gestione per l’impresa.</p>
            </div>
        </div>
        <div class="col-35">
            <img src="/src/assets/hero-img.png" alt="">
        </div>
    </div>
    </div>


    <div class="hero2">
        <div class="grid">
            <div class="col-50 col-left mt-4">
                <h2 class="hero2-servizi ">Scopri i <span style="color:#FFD100; font-style: italic;">servizi</span> di Modena Consulenza</h2>
            </div>
            <div class="col-50"></div>
        </div>
    </div>

    <div class="hero3">
        <div class="grid">
        <div class="col-35"></div>
        <div class="col-60 obiettivo">
            <p>
            Il nostro obiettivo è soddisfare la domanda di servizi su misura, colmando il gap tra offerte generiche e necessità specifiche da parte dei clienti. Individuiamo e sviluppiamo le potenzialità uniche di ogni azienda, garantendo consulenze personalizzate e strategiche.
        </p>
        </div>
    </div>
    </div>

    <div class="hero4 ">
        <div class="grid grid--card ">
          <div class="col-33 ">
        <div class="card grey relative">
            <div class="card__img">
                <img src="/src/assets/01.png" alt="">
            </div>
            <h4>Controllo <br> di gestione</h4>
            <p>Guidiamo le imprese nell'adozione di budget e rendiconti finanziari al fine di migliorare competitività ed efficienza nel mercato attuale.</p>
            <img src="" alt="">
          </div>
          </div>

          <div class="col-33 ">
            <div class="card yellow relative">
                <div class="card__img">
                    <img src="/src/assets/02.png" alt="">
                </div>
                <h4>Pianificazione fiscale</h4>
            <p>Ottimizziamo la struttura fiscale e finanziaria per minimizzare legalmente il carico fiscale delle imprese, garantendo risparmio e conformità normativa.</p>
            <img src="" alt="">
              </div>
              </div>

              <div class="col-33 ">
                <div class="card blue relative">
                    <div class="card__img">
                        <img src="/src/assets/03.png" alt="">
                    </div>
                    <h4>Transactions <br> (M&A)</h4>
            <p>Supportiamo le imprese in acquisizioni e cessioni, offrendo analisi e strategie pensate per ottimizzare i benefici e minimizzare i rischi.</p>
            <img src="" alt="">
                  </div>
                  </div>
       </div>
     </div>

     <div class="hero5">
        <div class="cover__wallet relative ">
            <img src="/src/assets/hero5-img.png" alt="">
            <h4>Il servizio <br> Easy Wallet</h4>
            <p>È il controllo di gestione per liberi professionisti che comprende la stesura del budget economico finanziario e la verifica a consuntivo. </p>
        <a href="" class="button__hero5">Approfondisci</a>
        </div>
     </div>

     <div class="hero6 relative blue">
        <img src="/src/assets/hero6-img.png" alt="">
        <div class="grid--hero6">
            <div class="col-80">
                <h2>La consulenza fatta a misura <span style="color:#FFD100; font-style: italic;">d'uomo</span></h2>
            </div>
            <div class="col-20">
                <a href="" class="button">SCOPRI DI PIU'</a>
            </div>
        </div>
     
        <div class="grid--hero6b">
            <div class="col-60">
                <h4>Persone prima che imprese. Ecco perchè crediamo nella personalizzazione di servizio.</h4>
            </div>
            <div class="col-40">
                <p>Mettere le persone al centro significa valorizzare l'unicità di ogni realtà imprenditoriale. Da anni combiniamo la flessibilità della personalizzazione alla competenza specifica, acquisita attraverso la gestione di gruppi aziendali maggiori, per offrire il migliore servizio di consulenza possibile.</p>
                <p>Scopri come ottimizzare la gestione della tua azienda attraverso un portafoglio di servizi a te dedicati.</p>
            </div>
        </div>
     </div>

    <div class="hero7 relative">
  <div class="container">
        <div class="cover__wallet relative ">
            <img src="/src/assets/hero5-img.png" alt="">
            <h4>Cerchi un servizio adatto a PMI?</h4>
            <p>Il servizio Easy Wallet ti semplifica il Controllo di gestione offrendoti stesura del budget economico finanziario e verifica a consuntivo. </p>
        <a href="" class="button__hero5">SCOPRI DI PIU'</a>
        </div>
    </div>
<div class="space"></div>
        <div class="grid--hero7 relative">
            <div class="col-40 relative">
                <h2>Scopri le nostre
                    <span style="color:#002169; font-style: italic;">Partnership</span></h2>
                <p>La nostra collaborazione con Studio Train, specializzato in controllo di gestione, ci permette di offrire servizi ancora più performanti. La partnership mira a potenziare l'efficacia della gestione aziendale, attraverso un monitoraggio delle performance più dettagliato e una strategia ottimizzata.</p>
            </div>
            <div class="col-60 relative">
                <a href=""><img src="/src/assets/studiotrain.png" alt="">
            </div>
        </div>
    </div>
    <img class="hero7-img" src="/src/assets/hero7-img.png" alt="">
    
    <Footer></Footer>

</Layout>

<style is:global>

    .hero{background-color: #002169;}
.space{height: 5vh;}
.contenuto-left{padding-left:100px; padding-right: 100px;}
.col-35 img{  width: 100%; height: 100%; object-fit: cover;}

.contenuto-left h2{font-weight: 500; font-size: clamp(2rem, 1rem + 5vw,5rem);line-height: 130%; color: #fff;}
.contenuto-left p{color: white; font-weight: 500;font-size: 20px;line-height:130% ;}
.hero2{ background-color: white; height: 50vh ; }
.hero2 .col-left{position: relative;}
.grid .col-50{height: 100%;}
.hero2-servizi{padding-left:100px; font-size:clamp(1.8rem, 1rem + 5vw,3.5rem); font-weight: 500; }
.hero2b{hei}

.hero3{height: 30vh; width: 100%; background-color: white; }
.col-60 p{font-weight: 400; font-size: 18px ; line-height: 30px; padding: 1% 2%; margin-left: 28%}
.hero4{background-color: white;}


.hero5{min-height: 100vh; background-color: white;padding-top: 80px; }
.cover__wallet{width: 87%; border-radius: 40px;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); min-height: 450px; margin: 0 auto; overflow: hidden;  height: auto;}
.cover__wallet img{position: absolute; width: 100%; height: 100%; }
.cover__wallet h4{width: 53%!important;
    font-size: clamp(1.8rem, 1rem + 5vw,3.5rem);
    margin-left: 10%;
    font-weight: 600; margin-bottom: 50px; }
.cover__wallet p{   width: 50%;
    margin-left: 10%;
    font-size: 1.13rem;}

.button__hero5{    position: absolute;
    right: 7%;
    top: 65%;
    font-weight: 600;
    font-size: 1.13rem;}

    .hero6{min-height: 130vh; padding-bottom: 5rem;}
    .hero6 img{position: absolute;right: 0;top: -200px;width: 65%; height: auto; }

.col-80,
.col-20,
.col-60,
.col-40{z-index: 10;}
.grid--hero6 .col-80{     padding-top: 2%;}
 .grid--hero6 .col-20  {display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: 8%;}

    .grid--hero6 h2{    font-size: clamp(1.8rem, 1rem + 5vw,5.5rem); line-height: 1; color: white; font-weight: 500; text-align: left;}

    .grid--hero6b .col-40{margin-left: 70px}
    .grid--hero6b .col-60 h4{ color: white; font-size: clamp(1.6rem, 1rem + 5vw,2.6rem); font-weight: 400; padding-right: 7%; margin-top: 0;}
    .grid--hero6b .col-40 p{  color: white; margin-bottom: 100px; line-height: 30px; font-weight: 400;}
.grid--card{margin-top: 5rem;}

.hero7 .grid--hero7{padding-top: 20rem;}
    @media (max-width: 768px) {
        .hero7 .grid--hero7{padding-top:6rem;}
        .grid--hero7 p{text-align: center; }
     .contenuto-left{width: 90%;
    margin: 0 auto; padding: 0;}
    .contenuto-left h2{font-size: 2rem; line-height: 130%; text-align: center;}
    .contenuto-left p{text-align: center;}
    .pt-hero{padding-top: 10rem;}
    .hero2-servizi{font-size: 2rem; padding-left: 0; width: 80%; margin: 0 auto; text-align: center;}
    .hero3 .col-60 p{margin: 0  auto; font-size: 1rem; width: 80%;}
    .cover__wallet{text-align: center; padding-bottom: 2rem;}
    .cover__wallet h4{width: 90%!important; margin: 10% auto; text-align: center;;}
    .cover__wallet p{width: 90%; margin: 5% auto; text-align: center;}
    .cover__wallet a{position: static;  margin: auto;}
    .grid--hero6b{flex-wrap: wrap; width: 90%; margin: 0 auto;}
    .grid--hero6b h4,
    .grid--hero6b p{text-align: center; margin: 5% auto; }
    .grid--hero6b .col-60 h4{padding-right: 0; }
    .grid--hero6b .col-40{margin: 0 auto}
    .col-35 img{; height: 70% ; padding-top: 6rem;}
    .grid--hero6 h2{text-align: center;}
    .hero6 img{top: -10rem; left: 50%; transform: translateX(-50%);}
.grid--hero7 h2{    line-height: 130%;
    text-align: center;
    padding-top: 18rem;}
    .grid--hero7 .col-60 img{margin: 0 auto; transform: translate(0); position: static; margin-top: 9%;}
    .hero7{min-height: 175vh;
    height: auto;
    margin-bottom: 20%;}
    .hero7-img{margin-top: 8rem!important;}
    }

    .hero7-img{ width: 87%; border-radius: 20px; display: flex; align-items: center;z-index: 50; margin: 0 auto; max-width: 1850px; position: relative; top: 8rem;}


/* .cover__wallet {
    display: flex;
    align-items: center;
} */

/* .cover__wallet img {
    max-width: 100%;
    margin-right: 20px;
} */

.cover__text {
    flex: 1;
}

.grid--hero7 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.col-50 {
    width: 100%;
}

.grid--hero7 .col-40,
.grid--hero7 .col-60{ width: 90%; margin: 0 auto;}



@media (min-width: 768px) {
    .grid--hero7 {
        grid-template-columns: repeat(2, 1fr);
    }

    .col-50 {
        width: auto;
    }

  

}




</style>

