---
import CoverWallet from "@/components/CoverWallet.astro";
import Layout from "../layouts/Layout.astro";
import { card } from "../content/settings/cards.json";
---

<Layout title="Modena Consulenza">
  <div class="hero pt-hero">
    <div class="contain">
      <div class="grid--hero">
        <div class="col-65">
          <div class="contenuto-left">
            <h2 class="text-reveal">
              <!-- <span style="color:#FFD100; font-style: italic;"
                            >imprese</span  -->
              Strategie su misura, risultati <span
                style="color:#FFD100; font-style: italic;">concreti</span
              >
            </h2>
            <p class="text-reveal">
              Modena Consulenza è uno studio professionale con oltre un
              ventennio di esperienza nella consulenza fiscale, amministrativa e
              controllo di gestione strategico. Offriamo soluzioni
              personalizzate che mirano a ottimizzare le performance economiche e finanziarie dei nostri clienti, garantendo un approccio su misura per ciascuna realtà aziendale.
            </p>
          </div>
        </div>
        <div class="col-35">
          <!-- <img src="/assets/hero-img.png" alt="" class="dynamic-border" data-borders="borderTopRightRadius" data-value-big="20px"/> -->
          <img
            src="/assets/index1.png"
            class="dynamic-border"
            data-borders="borderTopRightRadius"
            data-value-big="20px"></img>
          <!-- <img src="/assets/hero-img.png" alt="" /> -->
        </div>
      </div>

      <a href="#hero2" class="frecciadown">
        <img src="/assets/frecciadown.png" alt="freccia" />
      </a>
    </div>
  </div>

  <div class="hero2" id="hero2">
    <div class="contain">
      <div class="grid">
        <div class="col-50 col-left mt-tresei">
          <h2 class="hero2-servizi fade-in">
            Scopri i <span style="color:#FFD100; font-style: italic;"
              >servizi</span
            > di Modena Consulenza
          </h2>
        </div>
        <div class="col-50"></div>
      </div>
    </div>
  </div>

  <div class="hero3">
    <div class="contain">
      <div class="grid">
        <div class="col-35"></div>
        <div class="col-60 obiettivo">
          <p>
            Valorizziamo il potenziale unico di ogni azienda con consulenze
            tailor-made, sviluppando strategie che migliorano la competitività
            nel contesto economico attuale.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="hero4">
    <div class="contain">
      <div class="grid grid--card">
        <div class="col-50">
          <div class="card yellow relative">
            <div class="cardetta">
              <div class="card__img">
                <img src="/assets/01r.png" alt="01" />
              </div>
              <div class="containerh4 text-reveal">
                <h4>
                  Consulenza fiscale, contabile - amministrativa, societaria
                </h4>
              </div>
              <div class="containerp">
                <p>
                  Lo Studio ha sviluppato una vasta esperienza nella
                  pianificazione fiscale. I principali servizi offerti in
                  questo campo includono: <br />
                  • Assistenza nella gestione degli obblighi fiscali e delle dichiarazioni;
                  <br />
                  • Consulenza in operazioni societarie straordinarie; <br /> • Redazione
                  di bilanci d'esercizio, straordinari e consolidati di gruppo; <br
                  />• Analisi e revisione dei bilanci; <br />• Supporto nella
                  redazione e gestione di contratti.
                </p>
                <p style="margin-bottom: 4rem">Lo studio si occupa di tutti gli aspetti legati a fiscalità, società e contratti, offrendo un supporto completo e personalizzato.</p>
                <!-- <img src="" alt="" /> -->
              </div>
              <a href="/servizi#revisione-legale" class="button__hero5">
                Scopri di più</a
              >
            </div>
          </div>
        </div>

        <div class="col-50">
          <div class="card blue relative">
            <div class="cardetta">
              <div class="card__img">
                <img src="/assets/02r.png" alt="02" />
              </div>
              <div class="containerh4 text-reveal" style="--delay: .2">
                <h4>Consulenza direzionale e strategica e sviluppo operativo</h4>
              </div>
              <div class="containerp">
                <p>
              Consulenza direzionale significa sostenere i vertici aziendali nella definizione degli obiettivi d'impresa e nella declinazione delle linee strategiche di sviluppo.
              L'analisi e definizione di processi e ruoli, permette alle aziende di configurare il proprio assetto organizzativo in piena coerenza con le strategie e gli obiettivi aziendali.
                </p>
              </div>
              <a href="/servizi#ordinaria" class="button__hero5">
                Scopri di più</a
              >
            </div>
          </div>
        </div>

        <div class="col-50">
          <div class="card blue relative">
            <div class="cardetta">
              <div class="card__img">
                <img src="/assets/03r.png" alt="03" />
              </div>
              <div class="containerh4 text-reveal" style="--delay: .4">
                <h4>Controllo <br /> di gestione</h4>
              </div>
              <div class="containerp">
                <p>
                  Affianchiamo le imprese
                  nella realizzazione e implementazione di sistemi di controllo
                  di gestione, nella redazione di budget , con l'obiettivo di
                  ottimizzare i processi decisionali e incrementare la
                  competitività e l'efficienza operativa. Utilizziamo strumenti
                  avanzati di business intelligence per fornire analisi
                  dettagliate e monitorare le performance aziendali.
                </p>
                <!-- <img src="" alt="" /> -->
              </div>
              <a href="/servizi#controllo-di-gestione" class="button__hero5">
                Scopri di più</a
              >
            </div>
          </div>
        </div>

        <div class="col-50">
          <div class="card yellow relative">
            <div class="cardetta">
              <div class="card__img">
                <img src="/assets/04r.png" alt="04" />
              </div>
              <div class="containerh4 text-reveal" style="--delay: .4">
                <h4>
                  Consulenza specializzata in operazioni straordinarie (M&A)
                </h4>
              </div>
              <div class="containerp">
                <p>
                  Nel tempo, lo Studio ha acquisito una significativa esperienza
                  nella consulenza per operazioni straordinarie e
                  riorganizzazioni aziendali. Offriamo supporto completo nelle
                  operazioni di:  fusioni, scissioni, trasformazioni,
                  conferimenti e liquidazioni societarie: <br />
                  • Acquisizione e cessione di aziende o rami aziendali; <br />
                  • Acquisizione e vendita di partecipazioni societarie; <br />
                  • Riorganizzazioni societarie; <br />
                  • Joint venture e altri accordi strategici.
                </p>
                <p style="margin-bottom: 4rem">Forniamo analisi dettagliate e strategie di ottimizzazione per massimizzare i benefici e mitigare i rischi associati a tali operazioni.</p>
                <!-- <img src="" alt="" /> -->
              </div>
              <a href="/servizi#transactions" class="button__hero5">
                Scopri di più</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero5">
    <div class="contain">
      <div class="cover__wallet relative mb-6r">
        <img src="/assets/hero5-img.png" alt="immagine background card" />
        <h4>Il servizio <br /> Easy Wallet</h4>
        <p>
          Se sei una piccola impresa in cerca di un metodo efficace per gestire
          le tue finanze e migliorare l'efficienza operativa, Easy Wallet è la
          soluzione che fa per te. Il nostro servizio offre un approccio
          integrato al controllo di gestione, includendo la creazione di budget
          economici e finanziari e la verifica dei consuntivi. Scopri come Easy Wallet può aiutarti a prendere decisioni basate su dati concreti, ottimizzare le risorse e garantire una crescita sostenibiile della tua attività.
        </p>
        <a href="/servizi/#easy-wallet" class="button__hero5">Approfondisci</a>
      </div>
    </div>
  </div>

  <!-- <CoverWallet img="assets/hero5-img.png" title="Il servizio <br/> Easy  Wallet" content=" È il controllo di gestione per liberi professionisti che comprende la stesura del budget economico finanziario e la verifica a consuntivo."></CoverWallet> -->
  <!-- <CoverWallet {...card}/> -->

  <div class="hero6 relative blue">
    <div class="contain">
      <img
        src="/assets/index2.png"
        alt="immagine consulenza"
        class="dynamic-border"
        data-borders="borderTopRightRadius,borderBottomRightRadius"
        data-value-big="20px"
      />

      <div class="grid--hero6">
        <div class="col-80">
          <h2>
            La consulenza fatta a misura <span
              style="color:#FFD100; font-style: italic;">d'uomo</span
            >
          </h2>
        </div>
        <div class="col-20">
          <a href="/servizi" class="button fade-in">SCOPRI DI PIU'</a>
        </div>
      </div>
      <div class="grid--hero6b">
        <div class="col-60">
          <h4 class="text-reveal">Mettere le persone <br />al centro</h4>
        </div>
        <div class="col-40">
          <p>
            Crediamo nell'importanza della personalizzazione della consulenza,
            valorizzando le specificità di ogni realtà imprenditoriale. La
            nostra esperienza nella gestione di gruppi aziendali complessi ci
            permette di offrire servizi su misura, con una flessibilità che si
            adatta alle esigenze di ciascun cliente, mantenendo un elevato
            standard di competenza tecnica e operativa.
          </p>
          <!-- <p>
            Scopri come ottimizzare la gestione della tua azienda con i nostri
            servizi dedicati.
          </p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="hero7 relative">
    <div class="contain">
      <div class="container">
        <div class="cover__wallet relative">
          <img src="/assets/hero5-img.png" alt="immagine Modena Consulenza" />
          <h4>Vuoi monitorare le prestazioni della tua azienda?</h4>
          <p>
            Il nostro controllo di gestione per le piccole imprese include la
            preparazione del budget economico-finanziario e la verifica a
            consuntivo, offrendo un'analisi dettagliata delle tue finanze per
            prendere decisioni informate e mirate per il tuo successo
            professionale.
          </p>
          <a href="/servizi" class="button__hero5 fade-in">SCOPRI DI PIU'</a>
        </div>
      </div>
      <!-- <div class="grid--hero7 relative">
                <div class="col-50 relative">
                    <div class="">
                        <h2 class="text-reveal">
                            Scopri le nostre
                            <span style="color:#002169; font-style: italic;"
                                >Partnership</span
                            >
                        </h2>
                        <p>
                            La nostra collaborazione con Studio Train,
                            specializzato in controllo di gestione, ci permette
                            di offrire servizi ancora più performanti. La
                            partnership mira a potenziare l'efficacia della
                            gestione aziendale, attraverso un monitoraggio delle
                            performance più dettagliato e una strategia
                            ottimizzata.
                        </p>
                    </div>
                </div>
                <div class="col-45 relative fix120 fade-in">
                    <div class="scale pt-3">
                        <a href=""
                            ><img
                                class="studiotrain"
                                src="/assets/studiotrain.svg"
                                alt=""
                            />
                        </a>
                        <a href=""
                            ><img
                                class="frecciaright"
                                src="/assets/frecciaright.png"
                                alt=""
                            /></a
                        >
                    </div>
                </div>
            </div>
            <div class="hero7-img-container"> -->
      <img class="hero7-img" src="/assets/index3.png" alt="Gruppo Modena al tavolo" />
      <!-- </div> -->
    </div>
  </div>
</Layout>

<style>
  .hero {
    background-color: #002169;
    position: relative;
  }
  .space {
    height: 5vh;
  }
  .col-65 {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .contenuto-left {
    padding-left: 5.5rem;
    padding-right: 2.5rem;
    height: 30rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  @media (max-width: 768px) {
      .contenuto-left{ height: 25rem;}
  }
  .col-35 img,
  .col-35 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
  }

  .grid--hero .col-35 {
    position: relative;
    height: 40rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .col-35 video {
    height: 40rem;
    position: absolute;
    bottom: 0;
  }

  .contenuto-left h2 {
    font-weight: 450;
    font-size: clamp(2rem, 1rem + 3.8vw, 6rem);
    line-height: 112%;
    color: #fff;
    margin-top: 0rem !important;
    margin-bottom: 2rem !important;
    padding-bottom: 0.3rem;
    width: 100%;
  }
  .contenuto-left p {
    color: white;
    font-weight: 400;
    font-size: clamp(0.8rem, 4vw, 1.13rem);
    line-height: 150%;
    padding-bottom: 2rem;
  }

  .frecciadown {
    position: absolute;
    bottom: 3%;
    right: 48%;
  }

  .frecciaright {
    position: absolute;
    width: 20px;
    height: 20px;
  }

  .hero2 {
    background-color: white;
    height: auto;
  }
  .hero2 .col-left {
    position: relative;
  }
  /* .grid .col-50 {
        height: 100%;
    } */
  .hero2-servizi {
    padding-left: 5.5rem;
    font-size: clamp(1.8rem, 1rem + 5vw, 3.9rem);
    font-weight: 500;
    width: 85%;
    line-height: 135%;
    padding-top: 5rem;
  }

  .hero3 {
    height: auto;
    width: 100%;
    background-color: white;
  }
  .col-60 p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    margin-left: 40%;
    padding-top: 2rem;
    /* margin-right: 10%; */
  }

  @media (min-width: 768px) {
    .hero7 .cover__wallet h4 {
      width: 80% !important;
    }
  }
  @media (min-width: 1608px) {
    .hero7 .cover__wallet h4 {
      width: 70% !important;
    }
  }
  .hero4 {
    background-color: white;
  }
  .hero4 .card h4 {
    text-align: left;
    font-size: clamp(1.8rem, 0.2rem + 2vw, 2rem);
  }
  .hero4 .card p {
    text-align: left;
  }
  .hero6 .button {
    font-weight: 500;
    border-radius: 15px;
    position: relative;
    left: 4rem;
    transform: scale(1.05);
    padding: 10px 34px;
  }

  .hero7 .grid--hero7 {
    margin-top: -9rem;
    margin-bottom: -10rem;
  }

  .hero7 .cover__wallet p {
    width: 50%;
  }
  @media (max-width: 768px) {
    .contenuto-left p {
      padding-bottom: 0;
    }
    .hero4 .card h4 {
      text-align: center;
      padding-bottom: 0;
      margin: 0 auto;
    }
    .hero4 .card p {
      text-align: center;
    }
    .grid--hero6 .col-20 {
      align-items: center !important;
      justify-content: center !important;
    }
    .hero .col-35 {
      height: 20rem;
    }
    .frecciadown {
      display: none;
    }
    .hero6 .button{left: 0;}
  }

  .hero5 {
    height: auto;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 15rem;
  }

  .hero4 .grid--card {
    margin-bottom: 5.5rem;
  }
  @media (max-width: 768px) {
    .hero4 .grid--card {
      width: 84%;
      margin: 0 auto;
      flex-wrap: wrap;
      max-width: 1850px;
      margin-bottom: 1.5rem;
      margin-left: 8%;
      margin-right: 8%;
      gap: 2.5rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }

  .hero5 {
    /* padding-bottom: 10rem; */
    padding-top: 0rem;
  }

  @media (max-width: 768px) {
    .hero2-servizi {
      padding-top: 8rem;
    }
  }

  .hero5 .cover__wallet {
    margin-bottom: 6rem;
  }
  .cover__wallet {
    width: 88%;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-height: 450px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
  }
  .cover__wallet img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .hero6 img {
    position: absolute;
    right: 0;
    top: -200px;
    width: 65%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
    max-width: 1045px;
  }

  .col-80,
  .col-20,
  .col-60,
  .col-40 {
    z-index: 10;
  }
  .grid--hero6 .col-80 {
    padding-top: 2%;
  }
  .grid--hero6 .col-20 {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: 8%;
  }

  .grid--hero6 h2 {
    font-size: clamp(1.8rem, 1rem + 5vw, 5.5rem);
    line-height: 1;
    color: white;
    font-weight: 500;
    text-align: left;
  }

  .grid--hero6b .col-60 h4 {
    color: white;
    font-size: clamp(1.6rem, 1rem + 5vw, 2.6rem);
    font-weight: 400;
    padding-right: 7%;
    margin-top: 0;
  }
  .grid--hero6b .col-40 p {
    color: white;
    margin-bottom: 4rem;
    line-height: 150%;
    font-weight: 350;
    font-size: 1.1rem;
  }
  .grid--card {
    margin-top: 7.5rem;
  }
  .hero7-img {
    max-width: calc(100% - 11rem);
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 10rem;
    z-index: 2;
    margin-right: 5.5rem;
    margin-left: 5.5rem;
  }

  @media (max-width: 768px) {
    /* .hero7 .grid--hero7 {
            padding-top: 1rem;
            display: inline;
            top: -10rem;
        }
        .hero7 .grid--hero7 p {
            text-align: center;
        } */
    .contenuto-left {
      width: 90%;
      margin: 0 auto;
      padding: 0;
    }
    .contenuto-left h2 {
      font-size: 2rem;
      line-height: 130%;
      text-align: center;
      margin: 0 auto;
    }
    .contenuto-left p {
      text-align: center;
    }
    .pt-hero {
      padding-top: 10rem;
    }
    .hero2-servizi {
      font-size: 2rem;
      padding-left: 0;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
    .hero3 .col-60 p {
      margin: 0 auto;
      font-size: 1rem;
      width: 80%;
    }
    .cover__wallet {
      text-align: center;
      padding-bottom: 2rem;
      margin-bottom: 1rem !important;
      min-height: auto;
    }
    .cover__wallet h4 {
      width: 80% !important;
      margin: 10% auto;
      text-align: center;
    }
    .cover__wallet p {
      width: 80% !important;
      margin: 5% auto;
      text-align: center;
    }
    .cover__wallet a {
      position: static;
      margin: auto;
    }
    .grid--hero6b {
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;
    }
    .grid--hero6b h4,
    .grid--hero6b p {
      text-align: center;
      margin: 5% auto;
    }
    .grid--hero6b .col-60 h4 {
      padding-right: 0;
      font-size: 1.7rem;
    }
    .grid--hero6b .col-40 {
      margin: 0 auto;
      width: 80%;
    }
    .col-35 img,
    .col-35 video {
      height: 100%;
      padding-top: 6rem;
    }
    .grid--hero6 h2 {
      text-align: center;
    }
    .hero6 img {
      top: -10rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 8px;
    }

    /* .hero7 .grid--hero7 h2{padding-top: 23.5rem!important;} */
    .grid--hero7 h2 {
      line-height: 130%;
      text-align: center;
    }
    .grid--hero7 .col-60 img {
      margin: 0 auto;
      transform: translate(0);
      position: static;
      margin-top: 9%;
    }
    .hero7 .grid--hero7 .col-60 img {
      margin: 0 auto;
      transform: translate(0);
      position: static;
      margin-top: 0;
    }
    .hero7 {
      min-height: auto;
      height: auto;
      margin-bottom: 0;
    }

    .hero7 .scale {
      margin-top: 2rem;
    }
  }
  .hero5b .grid--hero7 {
    margin-top: 11% !important;
  }

  .hero7-img {
    width: 89%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    z-index: 50;
    margin: 0 auto;
    max-width: 1850px;
    position: relative;
    bottom: 0;
    /* margin-top: -21rem; */
    margin-bottom: 6rem;
    top: 14rem;
  }

  /* .cover__wallet {
    display: flex;
    align-items: center;
} */

  /* .cover__wallet img {
    max-width: 100%;
    margin-right: 20px;
} */

  .cover__text {
    flex: 1;
  }

  .grid--hero7 {
    width: calc(100% - 11rem);
    margin: 0 auto;
    height: auto;
    margin-top: 12%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1850px;
    gap: 2rem;
    margin-bottom: -6rem;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
  }

  @media (max-width: 415px) {
    .hero7 .scale {
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 768px) {
    .grid--hero7 {
      width: calc(100% - 8rem);
      margin-left: 0;
      margin-right: 0;
      margin: 0 auto;
    }
  }

  .grid--hero7 .col-40,
  .grid--hero7 .col-60 {
    width: 90%;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .grid--hero7 {
      grid-template-columns: repeat(2, 1fr);
    }

    /* .col-50 {
            width: auto;
        } */
  }

  .containerp {
    position: relative; /* Assicura che il trattino si posizioni correttamente */
  }

  .containerp::after {
    content: "";
    position: absolute;
    bottom: 3rem;
    width: 7%;
    height: 3px;
    background-color: black;
  }
  .grey .containerp::after {
    background-color: #ffd100;
  }
  .blue .containerp::after {
    background-color: #fff;
  }

  @media (max-width: 768px) {
    .containerp::after {
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }
</style>

<script>
  // Seleziona l'elemento con classe "frecciadown"
  const frecciaDown = document.querySelector(".frecciadown");

  // Aggiungi un gestore di eventi per l'evento di clic
  frecciaDown.addEventListener("click", function (event) {
    // Impedisci il comportamento predefinito dell'ancora (scorrimento istantaneo)
    event.preventDefault();

    // Ottieni l'elemento di destinazione (hero2)
    const hero2 = document.getElementById("hero2");

    // Calcola la posizione dell'elemento di destinazione rispetto alla finestra visualizzata
    const offsetTop = hero2.offsetTop;

    // Effettua lo scorrimento della pagina in modo animato utilizzando il metodo scrollIntoView()
    window.scroll({
      top: offsetTop,
      behavior: "smooth", // Aggiungi l'effetto di animazione
    });
  });
</script>
