---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Modena Consulenza">
  <div class="hero1c">
    <div class="contain">
    <h2>I nostri servizi di consulenza</h2>
    <div class="grid__hero1c">
      <div class="col-40">
        <p>
          Modena Consulenza risponde all’esigenza di servizi altamente
          personalizzati, superando il divario esistente tra richieste
          specifiche da parte dei clienti e proposte generiche.
        </p>
      </div>
      <div class="col-40">
        <p>
          I nostri servizi prevedono consulenze mirate per ciascuna azienda con
          l’obiettivo di offrire soluzioni su misura che ne promuovono lo
          sviluppo e la crescita in maniera strategica e controllata.
        </p>
      </div>
    </div>

    <div class="grid grid--card relative">
      <div class="col-33">
        <div class="card grey relative">
          <div class="card__img">
            <img src="/assets/01.png" alt="" />
          </div>
          <h4 class="text-blue">Controllo di<br /> gestione</h4>
          <p>
            Assistiamo le imprese nel definire budget e rendiconti per
            accrescere la loro competitività ed efficienza nel mercato odierno.
          </p>
          <img src="" alt="" />
        </div>
      </div>

      <div class="col-33">
        <div class="card yellow relative">
          <div class="card__img">
            <img src="/assets/02.png" alt="" />
          </div>
          <h4>Pianificazione fiscale</h4>
          <p>
            Moduliamo la pianificazione fiscale delle imprese per aiutarle a
            gestire il carico fiscale in maniera strategica e accurata.
          </p>
          <img src="" alt="" />
        </div>
      </div>

      <div class="col-33">
        <div class="card blue relative">
          <div class="card__img">
            <img src="/assets/03.png" alt="" />
          </div>
          <h4>Transactions <br /> (M&A)</h4>
          <p>
            Aiutiamo le imprese nelle acquisizioni e vendite con analisi e
            strategie volte a massimizzare i vantaggi e ridurre i rischi.
          </p>
          <img src="" alt="" />
        </div>
      </div>
      <img class="hero1c--img" src="/assets/hero1c.png" alt="" />
    </div>
  </div>
  </div>

  <div class="contain top-15">
  <h3 class="title-accordion mt-15" id="controllo-di-gestione" data-state="+">Controllo <br /> di gestione</h3>
  <div class="content-accordion">
    <p class="uno-acc">
      La nostra partnership con Studio Train, verticalizzato in CDG, ci ha
      permesso di rafforzare il Controllo di gestione arricchendo la nostra
      competenza, maturata su grandi gruppi, con strategie finanziarie mirate e
      una visione a 360° del mercato.
    </p>
    <div class="gridb__hero2b">
      <div class="col-40">
        <div class="border-left m-left">
          <h4>80%</h4>
          <p class="p-cella">Lorem ipsum dolor sit</p>
        </div>
      </div>
      <div class="col-40">
        <div class="border-left m2-left">
          <h4>900</h4>
          <p class="p-cella">Lorem ipsum dolor sit</p>
        </div>
      </div>
      <div class="col-40">
        <div>
          <p>
            Con il servizio “Controllo di gestione” i costi della tua azienda
            diventano chiari e trasparenti.
          </p>
        </div>
      </div>
      <div class="col-40 ultima-col">
        <div>
          <p>
            Potrai analizzare la produttività dei tuoi clienti e conoscere i
            margini generati da ogni area di settore.
          </p>
        </div>
      </div>
    <div>
      <img class="acc-1-img" src="/assets/acc-1.png" alt="" />
    </div>
    </div>
  
  </div>

  <div class="space"></div>
  <div class="cover__wallet relative">
    <img src="/assets/hero5-img.png" alt="" />
    <h4>Il servizio Easy Wallet</h4>
    <p>
      È il controllo di gestione per liberi professionisti che comprende la
      stesura del budget economico finanziario e la verifica a consuntivo.
    </p>
    <a href="" class="button__hero5">Richiedi informazioni</a>
  </div>

  <h3 class="title-accordion due" id="revisione-legale">Pianificazione <br /> fiscale</h3>
  <div class="content-accordion">
    <p class="uno-acc">
      Il servizio riduce legalmente il carico fiscale della tua azienda,
      riorganizzando la sua struttura finanziaria e tributaria. La
      pianificazione fiscale è adatta a ogni impresa e assicura una visione
      contabile più chiara e consapevole delle imposte dovute.
    </p>
    <div class="gridb__hero2b">
      <div class="col-40">
        <div class="border-left m-left">
          <h4>100%</h4>
          <p class="p-cella">Lorem ipsum dolor sit</p>
        </div>
      </div>
      <div class="col-40">
        <div class="border-left m2-left">
          <h4>50+</h4>
          <p class="p-cella">Lorem ipsum dolor sit</p>
        </div>
      </div>
      <div class="col-40">
        <div>
          <p>
            Elaboriamo la tua pianificazione fiscale nel rispetto delle
            normative, evitando i rischi di evasione o elusione.
          </p>
        </div>
      </div>
      <div class="col-40 ultima-col">
        <div>
          <p>
            Contribuiamo alla stabilità e al successo della tua azienda,
            permettendoti di risparmiare notevoli somme.
          </p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="title-accordion tre" id="transactions">Transactions <br />(M&A)</h3>
  <div class="content-accordion">
    <p class="uno-acc">
      Modena Consulenza si distingue come partner strategico in M&A: grazie alle
      esperienze internazionali e alla partnership strategica con Mediolanum è
      in grado di coniugare visione globale e attenzione al dettaglio per
      orientarsi maggiormente alle persone.
    </p>
    <div class="gridb__hero2b">
      <div class="col-40">
        <div class="border-left m-left">
          <h4>100%</h4>
          <p class="p-cella">Lorem ipsum dolor sit</p>
        </div>
      </div>
      <div class="col-40">
        <div class="border-left m2-left">
          <h4>50+</h4>
          <p class="p-cella">Lorem ipsum dolor sit</p>
        </div>
      </div>
      <div class="col-40">
        <div>
          <p>
            Guidiamo l’imprenditore nelle acquisizioni e dismissioni aziendali
            con competenza e visione strategica.
          </p>
        </div>
      </div>
      <div class="col-40 ultima-col">
        <div>
          <p>
            Il nostro approccio prevede un’agilità decisionale maggiore e il
            coinvolgimento diretto dell’imprenditore.
          </p>
        </div>
      </div>
    </div>
  </div>

  <img class="bottom-img" src="/assets/bottom-servizi.png" alt="" />
</div>

  <div class="grey-servizi">
    <div class="contain top-15">
    <div class="grid__servizi-bottom">
      <div class="col-55">
        <h3>Scopri i servizi aggiunti di Modena Consulenza</h3>
      </div>
      <div class="col-45">
        <p class="p-secondo">
          Il nostro studio di commercialisti copre anche le richieste di privati
          e liberi professionisti erogando servizi ordinari.
        </p>
      </div>
      <div class="col-50">
        <h4 class="title-accordion">Servizi<br>ordinari</h4>
        <div class="content-accordion">
          <ul>
            <li>Assistenza contabile e amministrativa</li>
            <li>Consulenza direzionale e strategica</li>
            <li>Sviluppo organizzativo</li>
            <li>Operazioni di finanza straordinaria</li>
            <li>Restructuring</li>
            <li>Fusioni e acquisizioni</li>
            <li>Contenziosi tributari</li>
          </ul>
        </div>
      </div>
      <div class="col-50">
        <h4 class="title-accordion fix-left">Liberi<br>professionisti</h4>
        <div class="content-accordion">
          <li>Elaborazione dati contabili</li>
          <li>Elaborazione dichiarazione dei redditi</li>
          <li>Gestione IMI – contratti di locazione</li>
        </div>
      </div>
    </div>
    <div class="ultima-cover-wallet">
    <div class="cover__wallet relative">
      <img src="/assets/hero5-img.png" alt="" />
      <h4>Non conosci i costi di gestione della tua azienda?</h4>
      <p>
        Modena Consulenza può aiutarti a ottenere una visione chiara e
        dettagliata delle tue gestione aziendale.
      </p>
      <a href="" class="button__hero5">CONTATTACI</a>
    </div>
  </div>
</div>
  </div>

  <style>

    .grid .card h4{margin-top: 0;}




.mt-15{margin-top: 8rem!important;}
    @media (min-width: 768px) {
      .top-15{top: -3.5rem;}
    }
    .grid__servizi-bottom .col-45{display: flex;
    align-items: center;}
    .grid__servizi-bottom .title-accordion {margin: 3rem 0};

 


    .ultima-col{flex-grow: 1;
    padding-right: 12%;}
.space{margin-bottom: 3rem  ;}
    .p-cella{font-size: 1.5rem!important; font-weight: 500; padding-top: 0!important;}
    .yellow-acc {
      color: #ffd100!important;
      border-bottom: none!important
    }
    .card h4 {
      margin: 0 auto;
      margin-top: 8%;
    }
    .hero1c {
      min-height: 180vh;
      margin-bottom: -13rem;
    }
    .hero1c h2 {
      margin-left: 5.5rem;
      margin-top: 210px;
      font-size: clamp(3rem, 1rem + 6vw,5.5rem);
      width: 44%;
      font-weight: 500;
      line-height: 90px;
    }
    .grid__hero1c .col-40 {
      padding-right: 8%;
    }
    .grid__hero1c p {
      font-weight: 400;
      font-size: 1.1rem;
    }
    .hero1c .grid--card {
      width: calc(100% - 11rem);
      justify-content: center;
    }
    .hero1c .card {
      min-height: 330px;
      height: auto;
      display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 2rem;
  
    }

    .hero1c .card h4{font-size:clamp(1.5rem, 1rem + 5vw, 2.15rem)}
    .hero1c .card h4,
    .hero1c .card p {
      text-align: center;
      width: 90%;
      margin: 0 auto;
    }
    .hero1c .card h4 {
      width: 100%;
    }
    .hero1c .card__img img {
      height: 90%;
    }
    .grid--card {
      margin-top: 55px !important;
    }
    .hero1c .grid--card {gap: 2.5rem;}

    .hero1c .col-33 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
    }

    .hero1c--img {
      position: relative;
      width: 100%;
      top: -14.5rem;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    .gridb__hero2b h4 {
      text-align: left;
      font-size: clamp(3rem, 1rem + 8vw, 7rem);
      margin: 0;
      padding: 0 2rem;
      font-weight: 500;
    }
    .gridb__hero2b p {
      text-align: left;
      width: 100% !important;
    }

    /* ! Accordion */
    .title-accordion {
      cursor: pointer;
      padding-bottom: 1rem;
      margin-bottom: 0;
      position: relative;
      width: 85%;
      margin: 5.5rem auto;
      font-size: 3.3rem;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 2rem!important;
    margin-right: 5%;
    }

    @media (max-width: 768px) {
      .title-accordion{    
        /* width: calc(100% - 11rem); */
        margin: 2rem auto !important; width: 84%;}

        .grey-servizi .title-accordion{width: 100%!important;}

        .grid__servizi-bottom{width: 84%; margin: 0 auto; margin-bottom: -3rem}
        .bottom-img{width: calc(100% - 4rem)!important}

    }



    .title-accordion::before {
      content: "01";
    color: #002169;
    opacity: 0.2;
    position: absolute;
    /* left: 10px; */
    /* width: 120px; */
    /* height: auto; */
    z-index: -1;
    margin-left: -5.5rem;
    top: 15%;
    font-size: 11rem;
    font-weight: 500;
      
    }


    @media (max-width: 768px) {
      .title-accordion::before{
        top: -3%!important;
      }
    }
    .due::before {
      
  content: "02"
    }

    .tre::before {
     content: "03"
    }
    .title-accordion:after {
      content: " +  ";
      position: absolute;
color: #002169;
      right: 10px;
      height: 30px;
      width: 30px;
    }

    .content-accordion--show .title-accordion:after{color: #ffd100!important;}
    .content-accordion {
      max-height: 0;
      overflow: hidden;
      transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .content-accordion h4 {
      color: #002169;
    }
    .content-accordion p {
      padding: 40px;
    width: 50%;
    margin: 0 auto;

    font-size: 1.1rem;
    }

    .uno-acc{     
      padding-bottom: 3rem;
      margin-bottom: 0;
      
      width: 80%;
      margin: 5.5rem auto;
      font-size: 3.3rem;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 2rem;
  line-height: 140%;
padding-left: 80px!important;}

    .content-accordion--show {
      max-height: 1000px;
    }
    .title-accordion.accordion-opened:after {
      content: " - "; /* Modifica l'indicatore quando l'accordion è aperto */
    }

    .acc-1-img {
      width: 94%;
    height: auto;
    border-radius: 10px;
    margin: 1% auto;
    display: flex;
    margin-left: 40px;
    max-width: 1000px;
    }
    .bottom-img {
      width: calc(100% - 11rem);
      height: auto;
      border-radius: 10px;
      margin: 5% auto;
      display: flex;
      bottom: -4rem;
    position: relative;
    margin-top: 0;
    }

    .grey-servizi {
      min-height: 70vh;
      height: auto;
      background-color: #edeef0;
      margin-top: -17rem;
      margin-bottom: -23rem;
    }
    .grey-servizi .title-accordion {
      font-size: 2rem;
      font-weight: 500;
      padding-top: 1.8rem;
      border-bottom: 1px solid #002169;
    }
    .grey-servizi h3 {
      font-size: clamp(1.5rem, 1rem + 5vw, 3.2rem);
      font-weight: 500;
      line-height: 110%;
      width: 85%;
    }

    .p-secondo {
      font-size: 1.1rem;
    width: 95%;
    padding-left: 4rem;
    }

    .grey-servizi .content-accordion {
      margin: 5% auto;
      width: 80%;
    }
    .grey-servizi .cover__wallet {
      bottom: 3rem;
      background-color: #edeef0;
    }
    @media (max-width: 768px) {
      .grey-servizi .cover__wallet {
      bottom: -3rem;
      }
    }

    .ultima-cover-wallet{    z-index: 10;
    position: relative;
    margin-top: 8.5rem; margin-bottom: 3rem;}
    .ultima-cover-wallet h4{    width: 70% !important;}
    .ultima-cover-wallet h4,
    .ultima-cover-wallet p{color: #002169;}

@media (min-width: 768px) {
    .gridb__hero2b{margin-bottom: 0; margin-right: 5.5rem;}
}
    @media (max-width: 768px) {
      .grey-servizi h3 {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 3rem;
      }
      .grey-servizi{margin-bottom: -5rem;}
      .p-secondo {
        margin: 0 auto;
        padding-left: 0;
        text-align: center;
        padding-bottom: 2rem;
      }
      .acc-1-img {
        width: 100%;
        margin-top: -3.5rem!important;
        margin: 0 auto;
        margin-bottom: 3rem;
     
      }
      .hero1c h2 {
        font-size: 2rem;
        line-height: 50px;
        margin: 0 auto;
        width: 80%;
        margin-top: 170px !important;
        text-align: center;
      }

      .grid__hero1c {
        flex-direction: column;
        margin: 0 auto;
        margin-top: 20px;
      }

      .grid__hero1c .col-40 {
        width: 90%;
        padding: 0;
        margin: 0 auto;
      }

      .grid__hero1c p {
        text-align: center;
        margin: 0 auto;
      }

      .grid--card {
        width: 90%;
      }

      .hero1c--img {
        position: static;
        width: 100%;
        margin-top: 30px;
        /* padding-top: 5rem; */
      }

      .col-33 {
        width: 100%!important;
      }
      .hero1c .card {
        height: auto;
        min-height: 250px;
      }
      .card h4 {
        margin: 0 auto;
        font-size: 1.5rem;
        width: 100% !important;
        padding-top: 15px;
      }
      .card p {
        margin-top: 10% !important;
        margin: 0 auto;
        width: 90%;
      }

      .gridb__hero2b .col-40 {
        width: 40%;
        margin: 0 auto;
      }
      .content-accordion p {
        width: 80%;
        text-align: left;
      }

      .hero1c--img {
        transform: translateX(0);
        position: static;
        margin: 0 auto;
        margin-bottom: 14rem;
      }

      .cover__wallet {
        text-align: center;
        padding-bottom: 2rem;
      }
      .cover__wallet h4 {
        width: 90%;
        margin: 10% auto;
        text-align: center;
      }
      .cover__wallet p {
        width: 80%;
        margin: 5% auto;
        text-align: center;
      }
      .cover__wallet a {
        position: static;
        margin: auto;
      }
      .gridb__hero2b {
        gap: 0;
        width: 90%;
        margin: 0 auto;
        row-gap: 3rem;
      }
      .title-accordion{font-size: 1.5rem; margin: 2rem; }

      .title-accordion::before{    top: -80%;
    transform: scale(0.3)}
    .space{margin-bottom: 0;}
    .mt-15{margin-top: 15rem;}
    .m-left,
    .m2-left{margin-left: 0rem;}

.uno-acc{padding-left: 0rem!important;}
.content-accordion p{padding: 0; padding-bottom: 2.5rem; font-size: 1rem;}
.p-cella{font-size: 0.8rem!important; padding: 0 1rem !important;}

.grid__servizi-bottom{margin-top: 11.5rem; padding-top: 8rem; }
.bottom-img{bottom: 0}

.grid__servizi-bottom .title-accordion{ margin-top: 0; }
.grey-servizi .title-accordion{font-size: 1.5rem; margin: 0 auto;}
.ultima-cover-wallet{  
    margin-top: 4.5rem;}
  
    .grey-servizi h3{font-size: 2rem}


    }
    .title-accordion.minus::after {
  content: " - ";
  color: #ffd100;
}

.title-accordion.minus::before{
  color: #ffd100!important;
}

.grey-servizi .minus{color: #ffd100!important;}
.fix-left{margin-left: 5.5rem!important;}

@media (max-width: 768px) {
  .fix-left{margin-left: auto!important;}
}

/* @media (min-width: 768px) {
 .hero1c--img{margin-bottom: -46rem;}
} */



  </style>

<script>
/// Seleziona tutti gli elementi con la classe "title-accordion"
let accordions = document.querySelectorAll(".title-accordion");

// Itera su ciascun elemento "title-accordion"
accordions.forEach((accordion, ) => {
  // Aggiungi un gestore di eventi per il clic su ciascun elemento "title-accordion"
  accordion.addEventListener("click", function () {
    // Seleziona l'elemento successivo (il contenuto dell'accordion)
    let nextElement = accordion.nextElementSibling;

    // Controlla se l'accordion è aperto o chiuso
    if (nextElement.classList.contains("content-accordion--show")) {
      // Nascondi il contenuto dell'accordion
      nextElement.classList.remove("content-accordion--show");
      // Rimuovi la classe "minus" dall'elemento "title-accordion"
      accordion.classList.remove("minus");
    } else {
      // Nascondi tutti gli altri accordion e mostra solo il contenuto dell'accordion corrente
      accordions.forEach((item, i) => {
        item.nextElementSibling.classList.remove("content-accordion--show");
        item.classList.remove("minus");
      });
      nextElement.classList.add("content-accordion--show");
      // Aggiungi la classe "minus" all'elemento "title-accordion"
      accordion.classList.add("minus");
    }
  });
});


</script>


</Layout>
