<footer class="footer">
    <div class="footer__grid">
        <div class="footer__column">
            <div class="footer__section">
                <h3>I nostri servizi</h3>
                <ul>
                    <li>Controllo di gestione</li>
                    <li>Revisione legale</li>
                    <li>Transactions (M&A)</li>
                </ul>
            </div>
        </div>
        <div class="footer__column">
            <div class="footer__section">
                <h3>Link utili</h3>
                <ul>
                    <li><a href="">Chi siamo</a></li>
                    <li><a href="">Servizi</a></li>
                    <li><a href="">Contatti</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__column">
            <div class="footer__section">
                <h3>Dove trovarci</h3>
                <address>
                    <p>Via Bellini, 70/2</p>
                    <p>41121 - Modena (MO)</p>
                    <p>Italy</p>
                </address>
            </div>
        </div>
        <div class="footer__column">
            <div class="footer__section">
                <h3>Orari</h3>
                <p>Lun - Ven:</p>
                <p>8.30 - 12.00</p>
                <p>14.00 - 18.30</p>
            </div>
        </div>
        <div class="footer__column">
            <div class="footer__section">
                <h3>Contatti</h3>
                <p>+39 (0) 59 220522</p>
                <p>+39 (0) 59 210161</p>
                <p>+39 (0) 59 4396905</p>
                <p>+39 (0) 59 211132</p>
                <p>info@modenaconsulenza.it</p>
            </div>
        </div>
   
    </div>
 

    <div class="footer__bottom">
        <p><a href="">Privacy Policy</a></p>
        <p><a href="">Cookie Policy</a></p>
        <p>IT03622220360</p>
        <p>© 2024 Modena Consulenza | All Rights Reserved</p>
    </div>
    <img class="ModenaConsulenza-footer" src="/src/assets/ModenaConsulenza-footer.png" alt="">
</footer>

<style is:global>
    .footer {
    background-color: #00194F;
    color: white;
    padding: 40px 20px;
    position: relative;
}

.footer a {color: white; text-decoration: none;}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 8rem 0;
    text-align: center;
}

.footer__column {
    display: flex;
    flex-direction: column;
}

.footer__section {
    margin-bottom: 20px;
}

.footer__section h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.footer__section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__section ul li {
    line-height: 1.6;
}

.footer__section ul li a {
    color: white;
    text-decoration: none;
}

.footer__bottom {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #001D5C;
    bottom: 0; 
    left: 0; 
    right: 0; 
    padding: 20px; 
    position: absolute;
    height: 3.5rem;
}

.footer__bottom p {
    margin: 0;
}

.footer__bottom a {
    color: white;
    text-decoration: none;
}

.ModenaConsulenza-footer{width: 100%; position: absolute; bottom: 5.92rem; left:0}

</style>